/* -------------------------------------------------------- COLOUR VARIABLES */
$color-text-primary: #777;

/* -------------------------------- NBA */
$color-nba-red: #d91a32;
$color-nba-blue: #00428b;
$color-nba-white: #ffffff;
/* -------------------------------- HAWKS */
$color-atl-primary: #e03a3e;
$color-atl-secondary: #fdb927;
$color-atl-tertiary: #ffffff;
/* -------------------------------- CELTICS */
$color-bos-primary: #008248;
$color-bos-secondary: #ffffff;
$color-bos-tertiary: #ba9653;
/* -------------------------------- NETS */
$color-bkn-primary: #000000;
$color-bkn-secondary: #707271;
$color-bkn-tertiary: #ffffff;
/* -------------------------------- HORNETS */
$color-cha-primary: #00788c;
$color-cha-secondary: #1d1160;
$color-cha-tertiary: #ffffff;
/* -------------------------------- BULLS */
$color-chi-primary: #ce1141;
$color-chi-secondary: #000000;
$color-chi-tertiary: #ffffff;
/* -------------------------------- CAVS */
$color-cle-primary: #860038;
$color-cle-secondary: #bc945c;
$color-cle-tertiary: #1e263d;
/* -------------------------------- MAVS */
$color-dal-primary: #0064b1;
$color-dal-secondary: #00285e;
$color-dal-tertiary: #bbc4ca;
/* -------------------------------- NUGGETS */
$color-den-primary: #0e2240;
$color-den-secondary: #fec524;
$color-den-tertiary: #ffffff;
/* -------------------------------- PISTONS */
$color-det-primary: #1d428a;
$color-det-secondary: #c8102e;
$color-det-tertiary: #ffffff;
/* -------------------------------- WARRIORS */
$color-gsw-primary: #1d428a;
$color-gsw-secondary: #fdb927;
$color-gsw-tertiary: #ffffff;
/* -------------------------------- ROCKETS */
$color-hou-primary: #ce1141;
$color-hou-secondary: #ffffff;
$color-hou-tertiary: #000000;
/* -------------------------------- PACERS */
$color-ind-primary: #fdbb30;
$color-ind-secondary: #002d62;
$color-ind-tertiary: #bec0c2;
/* -------------------------------- CLIPPERS */
$color-lac-primary: #1d428a;
$color-lac-secondary: #ffffff;
$color-lac-tertiary: #c8102e;
/* -------------------------------- LAKERS */
$color-lal-primary: #552583;
$color-lal-secondary: #fdb927;
$color-lal-tertiary: #ffffff;
/* -------------------------------- GRIZZLIES */
$color-mem-primary: #7d9bc1;
$color-mem-secondary: #0c2340;
$color-mem-tertiary: #b8cfe9;
/* -------------------------------- HEAT */
$color-mia-primary: #000000;
$color-mia-secondary: #98002e;
$color-mia-tertiary: #ffffff;
/* -------------------------------- BUCKS */
$color-mil-primary: #00471b;
$color-mil-secondary: #eee1c6;
$color-mil-tertiary: #000000;
/* -------------------------------- WOLVES */
$color-min-primary: #0c2340;
$color-min-secondary: #236192;
$color-min-tertiary: #78be20;
/* -------------------------------- PELICANS */
$color-nop-primary: #0a2240;
$color-nop-secondary: #8c734b;
$color-nop-tertiary: #ce0e2d;
/* -------------------------------- KNICKS */
$color-nyk-primary: #006bb6;
$color-nyk-secondary: #f58426;
$color-nyk-tertiary: #bec0c2;
/* -------------------------------- THUNDER */
$color-okc-primary: #007ac1;
$color-okc-secondary: #f05133;
$color-okc-tertiary: #ffffff;
/* -------------------------------- MAGIC */
$color-orl-primary: #0077c0;
$color-orl-secondary: #c4ced4;
$color-orl-tertiary: #000000;
/* -------------------------------- 76ERS */
$color-phi-primary: #006bb6;
$color-phi-secondary: #ffffff;
$color-phi-tertiary: #ed174c;
/* -------------------------------- SUNS */
$color-phx-primary: #1d1160;
$color-phx-secondary: #e56020;
$color-phx-tertiary: #63727a;
/* -------------------------------- BLAZERS */
$color-por-primary: #c90a2b;
$color-por-secondary: #000000;
$color-por-tertiary: #ffffff;
/* -------------------------------- SPURS */
$color-sas-primary: #000000;
$color-sas-secondary: #c4ced4;
$color-sas-tertiary: #ffffff;
/* -------------------------------- KINGS */
$color-sac-primary: #5a2d81;
$color-sac-secondary: #63727a;
$color-sac-tertiary: #ffffff;
/* -------------------------------- RAPTORS */
$color-tor-primary: #ce1141;
$color-tor-secondary: #000000;
$color-tor-tertiary: #ffffff;
/* -------------------------------- JAZZ */
$color-uta-primary: #0d2240;
$color-uta-secondary: #ffa400;
$color-uta-tertiary: #2b5134;
/* -------------------------------- WIZARDS */
$color-was-primary: #ffffff;
$color-was-secondary: #0d2240;
$color-was-tertiary: #cf0a2c;
