/* -------------------------------------------------------- VARIABLES */
$color-nba-red: #d91a32;
$color-nba-blue: #00428b;
$color-nba-white: #ffffff;

/* -------------------------------- HAWKS */
$color-atl-primary: #e03a3e;
$color-atl-secondary: #fdb927;
$color-atl-tertirary: #ffffff;
/* -------------------------------- CELTICS */
$color-bos-primary: #008248;
$color-bos-secondary: #ffffff;
$color-bos-tertirary: #ba9653;
/* -------------------------------- NETS */
$color-bkn-primary: #000000;
$color-bkn-secondary: #707271;
$color-bkn-tertirary: #ffffff;
/* -------------------------------- HORNETS */
$color-cha-primary: #00788c;
$color-cha-secondary: #1d1160;
$color-cha-tertirary: #ffffff;
/* -------------------------------- BULLS */
$color-chi-primary: #ce1141;
$color-chi-secondary: #000000;
$color-chi-tertirary: #ffffff;
/* -------------------------------- CAVS */
$color-cle-primary: #860038;
$color-cle-secondary: #bc945c;
$color-cle-tertirary: #1e263d;
/* -------------------------------- MAVS */
$color-dal-primary: #0064b1;
$color-dal-secondary: #00285e;
$color-dal-tertirary: #bbc4ca;
/* -------------------------------- NUGGETS */
$color-den-primary: #0e2240;
$color-den-secondary: #fec524;
$color-den-tertirary: #8b2131;
/* -------------------------------- PISTONS */
$color-det-primary: #1d428a;
$color-det-secondary: #c8102e;
$color-det-tertirary: #ffffff;
/* -------------------------------- WARRIORS */
$color-gsw-primary: #1d428a;
$color-gsw-secondary: #fdb927;
$color-gsw-tertirary: #ffffff;
/* -------------------------------- ROCKETS */
$color-hou-primary: #ce1141;
$color-hou-secondary: #ffffff;
$color-hou-tertirary: #000000;
/* -------------------------------- PACERS */
$color-ind-primary: #fdbb30;
$color-ind-secondary: #002d62;
$color-ind-tertirary: #bec0c2;
/* -------------------------------- CLIPPERS */
$color-lac-primary: #1d428a;
$color-lac-secondary: #ffffff;
$color-lac-tertirary: #c8102e;
/* -------------------------------- LAKERS */
$color-lal-primary: #552583;
$color-lal-secondary: #fdb927;
$color-lal-secondary: #ffffff;
/* -------------------------------- GRIZZLIES */
$color-mem-primary: #7d9bc1;
$color-mem-secondary: #0c2340;
$color-mem-tertirary: #707271;
/* -------------------------------- HEAT */
$color-mia-primary: #000000;
$color-mia-secondary: #98002e;
$color-mia-tertirary: #ffffff;
/* -------------------------------- BUCKS */
$color-mil-primary: #00471b;
$color-mil-secondary: #eee1c6;
$color-mil-tertirary: #000000;
/* -------------------------------- WOLVES */
$color-min-primary: #0c2340;
$color-min-secondary: #236192;
$color-min-tertirary: #78be20;
/* -------------------------------- PELICANS */
$color-nop-primary: #0a2240;
$color-nop-secondary: #8c734b;
$color-nop-tertirary: #ce0e2d;
/* -------------------------------- KNICKS */
$color-nyk-primary: #006bb6;
$color-nyk-secondary: #f58426;
$color-nyk-tertirary: #bec0c2;
/* -------------------------------- THUNDER */
$color-okc-primary: #007ac1;
$color-okc-secondary: #ef3b24;
$color-okc-tertirary: #ffffff;
/* -------------------------------- MAGIC */
$color-orl-primary: #0077c0;
$color-orl-secondary: #c4ced4;
$color-orl-tertirary: #000000;
/* -------------------------------- 76ERS */
$color-phi-primary: #006bb6;
$color-phi-secondary: #ffffff;
$color-phi-tertirary: #ed174c;
/* -------------------------------- SUNS */
$color-phx-primary: #1d1160;
$color-phx-secondary: #e56020;
$color-phx-secondary: #63727a;
/* -------------------------------- BLAZERS */
$color-por-primary: #e03a3e;
$color-por-secondary: #000000;
$color-por-tertirary: #ffffff;
/* -------------------------------- SPURS */
$color-sas-primary: #c4ced4;
$color-sas-secondary: #000000;
$color-sas-tertirary: #ffffff;
/* -------------------------------- KINGS */
$color-sac-primary: #5a2d81;
$color-sac-secondary: #63727a;
$color-sac-tertirary: #ffffff;
/* -------------------------------- RAPTORS */
$color-tor-primary: #ce1141;
$color-tor-secondary: #000000;
$color-tor-tertirary: #ffffff;
/* -------------------------------- JAZZ */
$color-uta-primary: #0d2240;
$color-uta-secondary: #ffa400;
$color-uta-tertirary: #2b5134;
/* -------------------------------- WIZARDS */
$color-was-primary: #ffffff;
$color-was-secondary: #0d2240;
$color-was-tertirary: #cf0a2c;

:root {
	--section-rotate: 9vw;
}

::-moz-selection {
	background-color: #c8102e;
	color: #fff;
}

::selection {
	background-color: #c8102e;
	color: #fff;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

/* -------------------------------------------------------- HTML */
html {
	font-size: 62.5%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
/* -------------------------------------------------------- BODY */
body {
	line-height: 1.6;
	font-weight: 300;
	font-family: "Open Sans", sans-serif;
	color: #777;
	padding: 3rem;
	min-height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

/* ---------------------------------------------- HEADINGS */
/* ------------------------------- HEADING SECTION */
.heading-section {
	font-size: 2.25rem;
	text-transform: uppercase;
	font-weight: 700;
	-webkit-background-clip: text;
	letter-spacing: 0.1rem;
	line-height: 1.3;
	display: inline-block;
	margin: 3rem 0;
}
/* ---------------- ADDITIONAL TEAM COLOR  */
.heading__color--atl {
	color: $color-atl-primary;
}
.heading__color--bos {
	color: $color-bos-primary;
}
.heading__color--bkn {
	color: $color-bkn-primary;
}
.heading__color--cha {
	color: $color-cha-primary;
}
.heading__color--chi {
	color: $color-chi-secondary;
}
.heading__color--cle {
	color: $color-cle-primary;
}
.heading__color--dal {
	color: $color-dal-primary;
}
.heading__color--den {
	color: $color-den-primary;
}
.heading__color--det {
	color: $color-det-primary;
}
.heading__color--gsw {
	color: $color-gsw-primary;
}
.heading__color--hou {
	color: $color-hou-primary;
}
.heading__color--ind {
	color: $color-ind-primary;
}
.heading__color--lac {
	color: $color-lac-primary;
}
.heading__color--lal {
	color: $color-lal-primary;
}
.heading__color--mem {
	color: $color-mem-primary;
}
.heading__color--mia {
	color: $color-mia-primary;
}
.heading__color--mil {
	color: $color-mil-primary;
}
.heading__color--min {
	color: $color-min-primary;
}
.heading__color--nop {
	color: $color-nop-primary;
}
.heading__color--nyk {
	color: $color-nyk-primary;
}
.heading__color--okc {
	color: $color-okc-primary;
}
.heading__color--orl {
	color: $color-orl-primary;
}
.heading__color--phi {
	color: $color-phi-primary;
}
.heading__color--phx {
	color: $color-phx-primary;
}
.heading__color--por {
	color: $color-por-primary;
}
.heading__color--sas {
	color: $color-sas-primary;
}
.heading__color--sac {
	color: $color-sac-primary;
}
.heading__color--tor {
	color: $color-tor-primary;
}
.heading__color--uta {
	color: $color-uta-primary;
}
.heading__color--was {
	color: $color-was-primary;
}

/* ---------------------------------------------- HEADER */
.header {
	background: linear-gradient(
		135deg,
		rgba($color-nba-blue, 0.85) 49%,
		rgba($color-nba-white, 0.85) 51%,
		rgba($color-nba-red, 0.85) 100%
	);
	padding: 0 5rem;
	height: 8rem;
	position: relative;
	z-index: 100;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
@media only screen and (max-width: 62.5em) {
	.header {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
}
/* ------------------------------- HEADER LOGO */
.header__logo img {
	height: 3.5rem;
}
@media only screen and (max-width: 62.5em) {
	.header__logo {
		-webkit-box-ordinal-group: 0;
		-ms-flex-order: -1;
		order: -1;
		margin-bottom: 1.5rem;
	}
}

/* ---------------------------------------------- NAVIGATION */
.nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
@media only screen and (max-width: 37.5em) {
	.nav {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
}
/* ------------------------------- NAV TEAMS */
.nav--teams {
	-webkit-box-flex: 0;
	-ms-flex: 0 1 40%;
	flex: 0 1 40%;
}
@media only screen and (max-width: 62.5em) {
	.nav--teams {
		margin-bottom: 1.5rem;
	}
}
@media only screen and (max-width: 37.5em) {
	.nav--teams {
		margin-bottom: 0;
	}
}

/* ------------------------------- NAV EL */
.nav__el,
.nav__el:link,
.nav__el:visited {
	color: #f7f7f7;
	text-transform: uppercase;
	font-size: 1.6rem;
	text-decoration: none;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	font-weight: 400;
	background: none;
	border: none;
	cursor: pointer;
	font-family: inherit;
}
.nav__el:hover,
.nav__el:active {
	-webkit-transform: translateY(-2px);
	transform: translateY(-2px);
	text-shadow: 0 0.7rem 1rem black;
}
.nav__el:not(:last-child) {
	margin-right: 3rem;
}
@media only screen and (max-width: 37.5em) {
	.nav__el:not(:last-child) {
		margin-right: 0;
		margin-bottom: 1.2rem;
	}
}
.nav__el:focus {
	outline: none;
}

/* ---------------------------------------------- MAIN */
.main {
	background-color: #f7f7f7;
	padding: 8rem 6rem;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	position: relative;
}

/* ---------------------------------------------- FLEX */
// .flex {
// 	display: -webkit-box;
// 	display: -ms-flexbox;
// 	display: flex;
// }

// .span-all-rows {
// 	grid-row: 1 / -1;
// }

/* ---------------------------------------------- CONTAINER */
.container {
	max-width: 120rem;
	margin: 0 auto;
}

// .ma-bt-md {
// 	margin-bottom: 3rem !important;
// }

// .ma-bt-lg {
// 	margin-bottom: 3.5rem !important;
// }

// .right {
// 	text-align: right !important;
// }

/* ---------------------------------------------- CARD CONTAINER */
.card-container {
	max-width: 120rem;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 7rem;
}

/* ------------------------------- CARD */
.card {
	text-decoration: none;
	border-radius: 100px;
	overflow: hidden;
	-webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
	box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
	background-color: #fff;
	-webkit-transition: 0.3s all;
	transition: 0.3s all;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
/* ---------------- CARD HEADER */
.card__header {
	position: relative;
}
/* ---------------- CARD PICTURE */
.card__picture {
	position: relative;
	height: 22rem;
}

/* - CARD PICTURE IMG */
.card__picture-img {
	-o-object-fit: contain;
	object-fit: contain;
	object-position: center;
	/* Margins make logos be centerd in the middle of the card for all square, portrait and landscape logos */
	margin-top: 3rem;
	margin-left: 4.5rem;
	height: 70%;
	width: 70%;
}

/* -------------- CARD FOOTER */
.card__footer {
	background: linear-gradient(
		135deg,
		rgba(0, 66, 138, 0.85) 49%,
		rgba(247, 250, 254, 0.85) 51%,
		rgba(200, 16, 46, 0.85) 100%
	);
	opacity: 0.7;
	padding: 1.5rem 3rem;
	border-top: 1px solid #f1f1f1;
	font-size: 1.75rem;
	text-align: center;
}

.card__footer-text {
	color: rgb(0, 0, 0);
	font-weight: 800;
}

/* ---------------------------------------------- SECTION HEADER */
.section-header {
	position: relative;
	height: 45vw;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.section-header > * {
	padding: 0 8vw;
	padding-bottom: calc(1vw + var(--section-rotate));
	-webkit-box-flex: 0;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
}

/* ------------------------------- HEADER HERO */
.header__hero {
	height: 100%;
}

.header__hero-img {
	-o-object-fit: contain;
	object-fit: contain;
	height: 100%;
	width: 100%;
}

/* ---------------------------------------------- SECTION DESCRIPTION */
.section-description {
	background-color: #fcfcfc;
	margin-top: calc(0px - var(--section-rotate));
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.section-description > * {
	padding: 0 8vw;
	padding-top: 14vw;
	padding-bottom: calc(1vw + var(--section-rotate));
	-webkit-box-flex: 0;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
}

/* ------------------------------- DESCRIPTION BOX */
.description-box .description {
	margin-right: 5rem;
}
.description-box .description__text {
	font-size: 1.7rem;
}
.description-box .description__text:not(:last-child) {
	margin-bottom: 2rem;
}

/* ------------------------------- SECTION BOX */
.section-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

/* ---------------- ADDITIONAL TEAM COLOR  */
.section__bg-color--atl {
	background-color: rgba($color-atl-primary, 0.1);
}
.section__bg-color--bos {
	background-color: rgba($color-bos-primary, 0.1);
}
.section__bg-color--bkn {
	background-color: rgba($color-bkn-primary, 0.1);
}
.section__bg-color--cha {
	background-color: rgba($color-cha-primary, 0.1);
}
.section__bg-color--chi {
	background-color: rgba($color-chi-primary, 0.1);
}
.section__bg-color--cle {
	background-color: rgba($color-cle-primary, 0.1);
}
.section__bg-color--dal {
	background-color: rgba($color-dal-primary, 0.1);
}
.section__bg-color--den {
	background-color: rgba($color-den-primary, 0.1);
}
.section__bg-color--det {
	background-color: rgba($color-det-primary, 0.1);
}
.section__bg-color--gsw {
	background-color: rgba($color-gsw-primary, 0.1);
}
.section__bg-color--hou {
	background-color: rgba($color-hou-primary, 0.1);
}
.section__bg-color--ind {
	background-color: rgba($color-ind-primary, 0.1);
}
.section__bg-color--lac {
	background-color: rgba($color-lac-primary, 0.1);
}
.section__bg-color--lal {
	background-color: rgba($color-lal-primary, 0.1);
}
.section__bg-color--mem {
	background-color: rgba($color-mem-primary, 0.1);
}
.section__bg-color--mia {
	background-color: rgba($color-mia-primary, 0.1);
}
.section__bg-color--mil {
	background-color: rgba($color-mil-primary, 0.1);
}
.section__bg-color--min {
	background-color: rgba($color-min-primary, 0.1);
}
.section__bg-color--nop {
	background-color: rgba($color-nop-primary, 0.1);
}
.section__bg-color--nyk {
	background-color: rgba($color-nyk-primary, 0.1);
}
.section__bg-color--okc {
	background-color: rgba($color-okc-primary, 0.1);
}
.section__bg-color--orl {
	background-color: rgba($color-orl-primary, 0.1);
}
.section__bg-color--phi {
	background-color: rgba($color-phi-primary, 0.1);
}
.section__bg-color--phx {
	background-color: rgba($color-phx-primary, 0.1);
}
.section__bg-color--por {
	background-color: rgba($color-por-primary, 0.1);
}
.section__bg-color--sas {
	background-color: rgba($color-sas-primary, 0.1);
}
.section__bg-color--sac {
	background-color: rgba($color-sac-primary, 0.1);
}
.section__bg-color--tor {
	background-color: rgba($color-tor-primary, 0.1);
}
.section__bg-color--uta {
	background-color: rgba($color-uta-primary, 0.1);
}
.section__bg-color--was {
	background-color: rgba($color-was-primary, 0.1);
}

/* ---------------- SECTION BOX DETAIL */
.section-box__detail {
	font-size: 1.5rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-weight: 400;
	margin-bottom: 2.25rem;
}
.section-box__detail svg {
	margin-right: 1.25rem;
}

/* ---------------- SECTION BOX ICON */
.section-box__icon {
	height: 2.25rem;
	width: 2.25rem;
	fill: #55c57a;
}
/* ---------------- SECTION BOX LABEL */
.section-box__label {
	font-weight: 700;
	margin-right: 2.25rem;
	text-transform: uppercase;
	font-size: 1.4rem;
}
/* ---------------- SECTION BOX TEXT */
.section-box__text {
	margin-right: 2.25rem;
	text-transform: capitalize;
}
/* ---------------- SECTION BOX IMG */
.section-box__img {
	border-radius: 50%;
	height: 3.5rem;
	margin-right: 1.25rem;
}

/* ---------------------------------------------- SECTION MAP */
.section-map {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row-reverse;
	margin-top: calc(0px - var(--section-rotate));
	-ms-flex: 0 0 50%;
	flex: 0 0 70%;
}

.section-map > * {
	padding: 1rem 8rem;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
}
/* ------------------------------- MAP */
#map {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	top: 0;
	bottom: 0;
}

/* ------------------------------- MARKER */
.marker {
	background-image: url(../img/nba_logo.png);
	background-size: cover;
	width: 20px;
	height: 45px;
	cursor: pointer;
}

/* ------------------------------- PLAYERS */
.players {
	padding: 5rem 0;
	display: grid;
	column-gap: 6rem;
	grid-auto-flow: column;
	overflow-x: scroll;
	-ms-scroll-snap-type: x mandatory;
	scroll-snap-type: x mandatory;
}
/* ------------------------------- PLAYERS CARD */
.players__card {
	width: 45rem;
	height: 25rem;
	background-color: #f7f7f7;
	border-radius: 3px;
	-webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
	box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
	scroll-snap-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	overflow: hidden;
	position: relative;
}

.players__card::after {
	content: "";
	display: block;
	position: absolute;
	top: 10%;
	right: -2px;
	height: 80%;
	border-left: 2px solid rgba(0, 0, 0, 0.025);
}

/* ---------------- PLAYER HEADER  */
.additional {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;

	position: absolute;
	width: 15rem;
	height: 100%;
	transition: width 0.4s;
	overflow: hidden;
	z-index: 2;
}

/* ---------------- ADDITIONAL TEAM COLOR  */
.additional__color--atl {
	background-color: $color-atl-primary;
	color: $color-atl-secondary;
}
.additional__color--bos {
	background-color: $color-bos-primary;
	color: $color-bos-secondary;
}
.additional__color--bkn {
	background-color: $color-bkn-primary;
	color: $color-bkn-secondary;
}
.additional__color--cha {
	background-color: $color-cha-primary;
	color: $color-cha-secondary;
}
.additional__color--chi {
	background-color: $color-chi-primary;
	color: $color-chi-secondary;
}
.additional__color--cle {
	background-color: $color-cle-primary;
	color: $color-cle-secondary;
}
.additional__color--dal {
	background-color: $color-dal-primary;
	color: $color-dal-secondary;
}
.additional__color--den {
	background-color: $color-den-primary;
	color: $color-den-secondary;
}
.additional__color--det {
	background-color: $color-det-primary;
	color: $color-det-secondary;
}
.additional__color--gsw {
	background-color: $color-gsw-primary;
	color: $color-gsw-secondary;
}
.additional__color--hou {
	background-color: $color-hou-primary;
	color: $color-hou-secondary;
}
.additional__color--ind {
	background-color: $color-ind-primary;
	color: $color-ind-secondary;
}
.additional__color--lac {
	background-color: $color-lac-primary;
	color: $color-lac-secondary;
}
.additional__color--lal {
	background-color: $color-lal-primary;
	color: $color-lal-secondary;
}
.additional__color--mem {
	background-color: $color-mem-primary;
	color: $color-mem-secondary;
}
.additional__color--mia {
	background-color: $color-mia-primary;
	color: $color-mia-secondary;
}
.additional__color--mil {
	background-color: $color-mil-primary;
	color: $color-mil-secondary;
}
.additional__color--min {
	background-color: $color-min-primary;
	color: $color-min-secondary;
}
.additional__color--nop {
	background-color: $color-nop-primary;
	color: $color-nop-secondary;
}
.additional__color--nyk {
	background-color: $color-nyk-primary;
	color: $color-nyk-secondary;
}
.additional__color--okc {
	background-color: $color-okc-primary;
	color: $color-okc-secondary;
}
.additional__color--orl {
	background-color: $color-orl-primary;
	color: $color-orl-secondary;
}
.additional__color--phi {
	background-color: $color-phi-primary;
	color: $color-phi-secondary;
}
.additional__color--phx {
	background-color: $color-phx-primary;
	color: $color-phx-secondary;
}
.additional__color--por {
	background-color: $color-por-primary;
	color: $color-por-secondary;
}
.additional__color--sas {
	background-color: $color-sas-primary;
	color: $color-sas-secondary;
}
.additional__color--sac {
	background-color: $color-sac-primary;
	color: $color-sac-secondary;
}
.additional__color--tor {
	background-color: $color-tor-primary;
	color: $color-tor-secondary;
}
.additional__color--uta {
	background-color: $color-uta-primary;
	color: $color-uta-secondary;
}
.additional__color--was {
	background-color: $color-was-primary;
	color: $color-was-secondary;
}

.additional:hover {
	width: 100%;
	border-radius: 0 5px 5px 0;
}

/* ---------------- PLAYERS HEADER INFO */
.players__header-info {
	width: 15rem;
	height: 100%;
	position: relative;
	float: left;

	display: grid;
	grid-template-rows: auto auto max-content;
	padding: 1rem;
	justify-content: center;
	text-align: center;
}

.players__header-info::after {
	content: "";
	display: block;
	position: absolute;
	top: 10%;
	right: -2px;
	height: 80%;
	border-left: 2px solid rgba(0, 0, 0, 0.025);
}

/* ---------------- PLAYERS NAME */
.players__name {
	top: 15%;
	font-size: 1.5rem;
	font-weight: 700;
	text-transform: uppercase;
	padding: 0.125rem 0.75rem;
	border-radius: 100px;
}

/* ---------------- PLAYERS NUMBER */
.players__number {
	font-family: "Stardos Stencil", cursive;
	font-size: 7.5rem;
	top: 50%;
}

/* ---------------- PLAYERS POSITION */
.players__position {
	font-size: 1.75em;
	font-weight: bold;
	padding: 0.125rem 0.75rem;
	border-radius: 100px;
}

/* ---------------- PLAYERS LABEL */
.players__label {
	font-weight: 700;
	text-transform: uppercase;
	font-size: 1.2rem;
}

/* ---------------- PLAYERS TEXT */
.players__text {
	font-size: 1.5rem;
	margin-bottom: 1rem;
	font-style: italic;
	font-weight: 400;
}

/* ---------------- PLAYERS HISTORY */
.players__history {
	width: 300px;
	height: 100%;
	position: absolute;
	float: left;
	left: 150px;
	padding: 1rem;

	display: grid;
	grid-template-rows: repeat(3, auto);
	grid-template-columns: repeat(3, 1fr);
	gap: 0.5rem;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
}

/* ---------------- PLAYERS HISTORY */
.players__history-school {
	grid-column: 1 / span 3;
	text-align: center;
}

.players__history-college {
	grid-column: 1 / span 3;
	text-align: center;
}

.players__history-draft-team {
	grid-column: 1 / span 3;
	text-align: center;
}

/* ---------------- PLAYERS PROFILE */
.players__profile {
	width: 300px;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	box-sizing: border-box;
	padding: 1rem;

	display: grid;
	grid-template-rows: repeat(4, auto);
	grid-template-columns: repeat(2, auto);
	gap: 0.5rem;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
}

.players__profile-birthplace {
	grid-column: 1 / 3;
	text-align: center;
}

.players__profile-country {
	grid-column: 1 / 3;
	text-align: center;
}

.players__profile-birthdate {
	grid-column: 1 / 3;
	text-align: center;
}

/* ---------------- PLAYERS SCROLLBAR */
::-webkit-scrollbar {
	display: none;
}

/* ---------------------------------------------- FOOTER */
.footer {
	background-color: #f7f7f7;
	padding: 6rem 4rem 3rem 4rem;
	font-size: 1.4rem;
	display: grid;
	grid-template-columns: auto auto;
	row-gap: 0.75rem;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
@media only screen and (max-width: 50em) {
	.footer {
		grid-template-columns: 1fr;
		grid-row-gap: 1.25rem;
		justify-items: center;
	}
}
/* ------------------------------- FOOTER LOGO */
.footer__logo {
	grid-row: 1 / 3;
	-ms-flex-item-align: center;
	align-self: center;
}
@media only screen and (max-width: 50em) {
	.footer__logo {
		grid-row: 1;
	}
}
.footer__logo img {
	height: 3rem;
}
/* ------------------------------- FOOTER NAV */
.footer__nav {
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-end;
}
.footer__nav li {
	margin-left: 1.5rem;
}
.footer__nav a {
	color: #777;
	text-decoration: none !important;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}
.footer__nav a:hover,
.footer__nav a:active {
	color: #55c57a;
}
/* ------------------------------- FOOTER COPYRIGHT */
.footer__copyright {
	justify-self: end;
	color: #999;
}
@media only screen and (max-width: 50em) {
	.footer__copyright {
		justify-self: center;
	}
}
