@import "./../abstracts/variables.scss";
/* ---------------------------------------------- FOOTER */
.footer {
	background-color: #f7f7f7;
	padding: 6rem 4rem 3rem 4rem;
	font-size: 1.4rem;
	display: grid;
	grid-template-columns: auto auto;
	row-gap: 0.75rem;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;

	@media only screen and (max-width: 50em) {
		.footer {
			grid-template-columns: 1fr;
			grid-row-gap: 1.25rem;
			justify-items: center;
		}
	}
	/* ------------------------------- FOOTER LOGO */
	&__logo {
		grid-row: 1 / 3;
		-ms-flex-item-align: center;
		align-self: center;
	}
	@media only screen and (max-width: 50em) {
		&__logo {
			grid-row: 1;
		}
	}
	&__logo img {
		height: 3rem;
	}
	/* ------------------------------- FOOTER NAV */
	&__nav {
		list-style: none;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		justify-content: flex-end;
	}
	&__nav li {
		margin-left: 1.5rem;
	}
	&__nav a {
		color: $color-text-primary;
		text-decoration: none !important;
		-webkit-transition: all 0.2s;
		transition: all 0.2s;
	}
	&__nav a:hover,
	&__nav a:active {
		color: #55c57a;
	}
	/* ------------------------------- FOOTER COPYRIGHT */
	&__copyright {
		justify-self: end;
		color: #999;
	}
	@media only screen and (max-width: 50em) {
		&__copyright {
			justify-self: center;
		}
	}
}
