@import "./../abstracts/variables";
@import "./../abstracts/mixins";
/* ---------------------------------------------- FOOTER */
.footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;

	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;

	position: relative;

	background-color: #f7f7f7;
	padding: 4rem 6rem;
	font-size: 1.4rem;
	border-radius: $border-radius;

	/* @MEDIA QUERIES */
	@include respond(xl) {
		font-size: 2.8rem;
	}

	@include respond(mob-lg) {
		font-size: 1.2rem;
		padding: 2rem 1rem;
	}

	/* ------------------------------- FOOTER LOGO */
	&__logo {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;

		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	&__logo img {
		height: 3rem;
		margin-right: 3rem;

		/* @MEDIA QUERIES */
		@include respond(mob-lg) {
			margin-right: 1rem;
		}
	}
}
