@import "./../abstracts/variables";
@import "./../abstracts/mixins";

.mobile {
	// DOES => Does not display mobile navigation for laptop and larger screens.
	display: none;

	@include respond(tablet) {
		// DOES => Displays mobile navigation for tablet and smaller screens.
		display: block;
	}

	/* -------------- BUTTON */
	&__button {
		background-color: $color-background-primary;
		height: 7.5rem;
		width: 7.5rem;
		border-radius: 10rem;
		position: fixed;
		// DOES => Top and right values make button fit nicely on right-hand side of card container without overlapping with team cards.
		top: 3.5rem;
		right: 3.5rem;
		z-index: 2000;
		box-shadow: 0 1rem 3rem rgba(black, 0.1);
		text-align: center;

		/* @MEDIA QUERIES */
		@include respond(mob-lg) {
			height: 5rem;
			width: 5rem;
		}
	}

	&__menu {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		flex-direction: column;

		position: relative;
		top: 19rem;
	}

	/* -------------- BACKGROUND */
	&__background {
		height: 3rem;
		width: 3rem;
		border-radius: 10rem;
		position: fixed;
		top: 4rem;
		right: 4rem;
		background-color: $color-background-primary;
		z-index: 1000;
		transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);
	}

	/* -------------- NAV */
	&__nav {
		height: 100vh;
		position: absolute;
		top: 0;
		left: 0;
		// DOES => z-index and opacity hide mobile__nav element behind the main section. Both properties are reverted when mobile__button is tapped, displaying the navigation.
		z-index: -1500;
		opacity: 0;
		width: 0;
		transition: all 0.8s cubic-bezier(0.68, 0, 0.32, 1);
	}

	/* -------------- LIST */
	&__list {
		text-align: center;

		display: grid;
		grid-template-rows: repeat(2, auto);
		grid-template-columns: repeat(3, auto);
		gap: 1rem;

		border-radius: $border-radius;
		margin: 0 3rem;
		padding: 1.2rem;
		list-style: none;

		/* @MEDIA QUERIES */
		@include respond(mob-lg) {
			column-gap: 0;
		}
	}

	/* -------------- #CONFERENCE */
	#conference {
		// DOES => Makes first li with link to show all teams in the conference to occupy the entire first row, forcing the other 3 li for each division to be displayed on the second row.
		grid-column: 1 / 4;
	}

	/* -------------- #ALL-TEAMS */
	#all-teams {
		padding: 5rem 0;
	}

	/* -------------- DIVISIONS */
	#all-divisions {
		// DOES => Removes the second row of the grid that is needed for the conference menus but it is not necessary for this one as it is only one line of text.
		grid-template-rows: auto;

		background: linear-gradient(
			135deg,
			rgba(0, 66, 139, 0.5),
			rgba(217, 26, 50, 0.5)
		);
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
	}
	/* -------------- LIST */
	#eastern-divisions {
		background: linear-gradient(135deg, #00428b, rgba(0, 66, 139, 0.25));
	}

	#western-divisions {
		background: linear-gradient(135deg, rgba(217, 26, 50, 0.25), #d91a32);
	}

	/* -------------- LINK */
	&__link {
		&:link,
		&:visited {
			display: inline-block;
			font-size: 2rem;
			font-weight: 700;
			padding: 0.4rem 2rem;
			color: $color-nba-white;
			text-decoration: none;
			text-transform: uppercase;

			@include respond(mob-lg) {
				font-size: 1.2rem;
			}
		}
	}

	/* -------------- CHECKBOX */
	&__checkbox {
		display: none;
	}

	// FUNCTIONALITY => Displaying the mobile navigation menu.
	&__checkbox:checked ~ &__background {
		// DOES => Enlarges the mobile__background to cover the whole screen.
		transform: scale(80);
	}

	&__checkbox:checked ~ &__nav {
		// DOES => Makes the mobile__nav visible, occupying the whole screen and displaying over the mobile__background with a higher z-index.
		opacity: 1;
		width: 100%;
		z-index: 1500;
	}

	/* -------------- ICON */
	&__icon {
		position: relative;
		margin-top: 3.5rem;

		/* @MEDIA QUERIES */
		@include respond(mob-lg) {
			margin-top: 2.5rem;
		}

		&,
		&::before,
		&::after {
			display: inline-block;
			width: 3rem;
			height: 2px;
			background: linear-gradient(
				135deg,
				rgba($color-nba-blue, 0.85) 50%,
				rgba($color-nba-red, 0.85) 50%
			);
		}

		&::before,
		&::after {
			content: "";
			position: absolute;
			left: 0;
			transition: all 0.8s;
		}

		&::before {
			top: -0.8rem;
		}
		&::after {
			top: 0.8rem;
		}
	}

	// FUNCTIONALITY
	&__checkbox:checked + &__button &__icon {
		// DOES => Hides element instead of remove it as other elements' size are related to this elements' size
		background: transparent;
	}

	// DOES => Rotates the lines of the menu icon to form an X.
	&__checkbox:checked + &__button &__icon::before {
		top: 0;
		transform: rotate(45deg);
	}

	&__checkbox:checked + &__button &__icon::after {
		top: 0;
		transform: rotate(-45deg);
	}
}
