footer.footer
  ///////////////////////////////// FOOTER LOGO
  .footer__logo
    img(src="/img/nba_logo.png" alt=" logo")
  
    span.footer__title Season 2021/22
 
  ///////////////////////////////// FOOTER COPYRIGHT
  p.footer__copyright &copy; by Juan C. Martín. All rights reserved.