footer.footer
  ///////////////////////////////// FOOTER LOGO
  .footer__logo
    img(src="/img/nba_logo.png" alt=" logo")
  ///////////////////////////////// FOOTER NAV
  ul.footer__nav
    li: a(href="#") About us 
    li: a(href="#") Download apps
    li: a(href="#") Becone a guide
    li: a(href="#") Careers 
    li: a(href="#") Contact
  ///////////////////////////////// FOOTER COPYRIGHT
  p.footer__copyright &copy; by Juan C. Martin. All rights reserved.