header.header
  ///////////////////////////////// NAV TEAMS
  nav.nav.nav--teams 
    a.nav__el(href="/") All teams
  ///////////////////////////////// HEADER LOGO
  .header__logo 
    img(src="/img/nba_logo.png" alt="logo")