doctype html
html
  ///////////////////////////////////////////////////////// HEAD
  head
  block head 
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1')
      link(rel="preconnect" href="https://fonts.googleapis.com")
      link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
      link(href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Stardos+Stencil&display=swap" rel="stylesheet")

      link(rel="stylesheet", href="/css/style.css")
      link(rel="shortcut icon", type="image/png" href="/img/nba_logo.png")

      title NBA | #{title}

  ///////////////////////////////////////////////////////// BODY
  body 
    //////////////////////////////////////////// HEADER
    include _navigation
    include _mobile

    //////////////////////////////////////////// CONTENT
    block content

    //////////////////////////////////////////// FOOTER
    include _footer






