/* -------------------------------------------------------- COLOUR VARIABLES */
/* -------------------------------- NBA */
/* -------------------------------- HAWKS */
/* -------------------------------- CELTICS */
/* -------------------------------- NETS */
/* -------------------------------- HORNETS */
/* -------------------------------- BULLS */
/* -------------------------------- CAVS */
/* -------------------------------- MAVS */
/* -------------------------------- NUGGETS */
/* -------------------------------- PISTONS */
/* -------------------------------- WARRIORS */
/* -------------------------------- ROCKETS */
/* -------------------------------- PACERS */
/* -------------------------------- CLIPPERS */
/* -------------------------------- LAKERS */
/* -------------------------------- GRIZZLIES */
/* -------------------------------- HEAT */
/* -------------------------------- BUCKS */
/* -------------------------------- WOLVES */
/* -------------------------------- PELICANS */
/* -------------------------------- KNICKS */
/* -------------------------------- THUNDER */
/* -------------------------------- MAGIC */
/* -------------------------------- 76ERS */
/* -------------------------------- SUNS */
/* -------------------------------- BLAZERS */
/* -------------------------------- SPURS */
/* -------------------------------- KINGS */
/* -------------------------------- RAPTORS */
/* -------------------------------- JAZZ */
/* -------------------------------- WIZARDS */
:root {
  --section-rotate: 9vw; }

::-moz-selection {
  background-color: #c8102e;
  color: #fff; }

::selection {
  background-color: #c8102e;
  color: #fff; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

/* -------------------------------------------------------- HTML */
html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* -------------------------------------------------------- BODY */
body {
  line-height: 1.6;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  color: #777;
  padding: 3rem;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

/* -------------------------------------------------------- COLOUR VARIABLES */
/* -------------------------------- NBA */
/* -------------------------------- HAWKS */
/* -------------------------------- CELTICS */
/* -------------------------------- NETS */
/* -------------------------------- HORNETS */
/* -------------------------------- BULLS */
/* -------------------------------- CAVS */
/* -------------------------------- MAVS */
/* -------------------------------- NUGGETS */
/* -------------------------------- PISTONS */
/* -------------------------------- WARRIORS */
/* -------------------------------- ROCKETS */
/* -------------------------------- PACERS */
/* -------------------------------- CLIPPERS */
/* -------------------------------- LAKERS */
/* -------------------------------- GRIZZLIES */
/* -------------------------------- HEAT */
/* -------------------------------- BUCKS */
/* -------------------------------- WOLVES */
/* -------------------------------- PELICANS */
/* -------------------------------- KNICKS */
/* -------------------------------- THUNDER */
/* -------------------------------- MAGIC */
/* -------------------------------- 76ERS */
/* -------------------------------- SUNS */
/* -------------------------------- BLAZERS */
/* -------------------------------- SPURS */
/* -------------------------------- KINGS */
/* -------------------------------- RAPTORS */
/* -------------------------------- JAZZ */
/* -------------------------------- WIZARDS */
/* ---------------- HEADING TEAM COLOR  */
.heading__color--atl {
  color: #e03a3e; }

.heading__color--bos {
  color: #008248; }

.heading__color--bkn {
  color: #000000; }

.heading__color--cha {
  color: #00788c; }

.heading__color--chi {
  color: #000000; }

.heading__color--cle {
  color: #1e263d; }

.heading__color--dal {
  color: #0064b1; }

.heading__color--den {
  color: #0e2240; }

.heading__color--det {
  color: #c8102e; }

.heading__color--gsw {
  color: #1d428a; }

.heading__color--hou {
  color: #ce1141; }

.heading__color--ind {
  color: #002d62; }

.heading__color--lac {
  color: #1d428a; }

.heading__color--lal {
  color: #552583; }

.heading__color--mem {
  color: #0c2340; }

.heading__color--mia {
  color: #000000; }

.heading__color--mil {
  color: #00471b; }

.heading__color--min {
  color: #0c2340; }

.heading__color--nop {
  color: #ce0e2d; }

.heading__color--nyk {
  color: #006bb6; }

.heading__color--okc {
  color: #007ac1; }

.heading__color--orl {
  color: #000000; }

.heading__color--phi {
  color: #ed174c; }

.heading__color--phx {
  color: #1d1160; }

.heading__color--por {
  color: #c90a2b; }

.heading__color--sas {
  color: #000000; }

.heading__color--sac {
  color: #5a2d81; }

.heading__color--tor {
  color: #000000; }

.heading__color--uta {
  color: #0d2240; }

.heading__color--was {
  color: #cf0a2c; }

/* ---------------- LABEL TEAM COLOR  */
.label__color--atl {
  color: #fdb927; }

.label__color--bos {
  color: #ba9653; }

.label__color--bkn {
  color: #707271; }

.label__color--cha {
  color: #1d1160; }

.label__color--chi {
  color: #ce1141; }

.label__color--cle {
  color: #bc945c; }

.label__color--dal {
  color: #00285e; }

.label__color--den {
  color: #fec524; }

.label__color--det {
  color: #1d428a; }

.label__color--gsw {
  color: #fdb927; }

.label__color--hou {
  color: #000000; }

.label__color--ind {
  color: #fdbb30; }

.label__color--lac {
  color: #c8102e; }

.label__color--lal {
  color: #fdb927; }

.label__color--mem {
  color: #7d9bc1; }

.label__color--mia {
  color: #98002e; }

.label__color--mil {
  color: #000000; }

.label__color--min {
  color: #236192; }

.label__color--nop {
  color: #8c734b; }

.label__color--nyk {
  color: #f58426; }

.label__color--okc {
  color: #f05133; }

.label__color--orl {
  color: #0077c0; }

.label__color--phi {
  color: #006bb6; }

.label__color--phx {
  color: #e56020; }

.label__color--por {
  color: #000000; }

.label__color--sas {
  color: #000000; }

.label__color--sac {
  color: #63727a; }

.label__color--tor {
  color: #ce1141; }

.label__color--uta {
  color: #ffa400; }

.label__color--was {
  color: #0d2240; }

/* ---------------- ADDITIONAL LABEL TEAM COLOR  */
.additional__label-color--atl {
  color: #fdb927; }

.additional__label-color--bos {
  color: #ba9653; }

.additional__label-color--bkn {
  color: #707271; }

.additional__label-color--cha {
  color: #1d1160; }

.additional__label-color--chi {
  color: #000000; }

.additional__label-color--cle {
  color: #bc945c; }

.additional__label-color--dal {
  color: #00285e; }

.additional__label-color--den {
  color: #fec524; }

.additional__label-color--det {
  color: #c8102e; }

.additional__label-color--gsw {
  color: #fdb927; }

.additional__label-color--hou {
  color: #000000; }

.additional__label-color--ind {
  color: #002d62; }

.additional__label-color--lac {
  color: #c8102e; }

.additional__label-color--lal {
  color: #fdb927; }

.additional__label-color--mem {
  color: #0c2340; }

.additional__label-color--mia {
  color: #98002e; }

.additional__label-color--mil {
  color: #000000; }

.additional__label-color--min {
  color: #236192; }

.additional__label-color--nop {
  color: #ce0e2d; }

.additional__label-color--nyk {
  color: #f58426; }

.additional__label-color--okc {
  color: #f05133; }

.additional__label-color--orl {
  color: #000000; }

.additional__label-color--phi {
  color: #ffffff; }

.additional__label-color--phx {
  color: #e56020; }

.additional__label-color--por {
  color: #000000; }

.additional__label-color--sas {
  color: #c4ced4; }

.additional__label-color--sac {
  color: #63727a; }

.additional__label-color--tor {
  color: #000000; }

.additional__label-color--uta {
  color: #ffa400; }

.additional__label-color--was {
  color: #cf0a2c; }

/* ---------------- ADDITIONAL TEXT TEAM COLOR  */
.additional__text-color--atl {
  color: #ffffff; }

.additional__text-color--bos {
  color: #ffffff; }

.additional__text-color--bkn {
  color: #ffffff; }

.additional__text-color--cha {
  color: #ffffff; }

.additional__text-color--chi {
  color: #ffffff; }

.additional__text-color--cle {
  color: #bc945c; }

.additional__text-color--dal {
  color: #bbc4ca; }

.additional__text-color--den {
  color: #ffffff; }

.additional__text-color--det {
  color: #ffffff; }

.additional__text-color--gsw {
  color: #ffffff; }

.additional__text-color--hou {
  color: #ffffff; }

.additional__text-color--ind {
  color: #002d62; }

.additional__text-color--lac {
  color: #ffffff; }

.additional__text-color--lal {
  color: #ffffff; }

.additional__text-color--mem {
  color: #b8cfe9; }

.additional__text-color--mia {
  color: #ffffff; }

.additional__text-color--mil {
  color: #eee1c6; }

.additional__text-color--min {
  color: #78be20; }

.additional__text-color--nop {
  color: #8c734b; }

.additional__text-color--nyk {
  color: #bec0c2; }

.additional__text-color--okc {
  color: #ffffff; }

.additional__text-color--orl {
  color: #c4ced4; }

.additional__text-color--phi {
  color: #ffffff; }

.additional__text-color--phx {
  color: #63727a; }

.additional__text-color--por {
  color: #ffffff; }

.additional__text-color--sas {
  color: #ffffff; }

.additional__text-color--sac {
  color: #ffffff; }

.additional__text-color--tor {
  color: #ffffff; }

.additional__text-color--uta {
  color: #ffa400; }

.additional__text-color--was {
  color: #ffffff; }

/* ---------------- CARD FOOTER TEAM COLORS  */
.card__footer-colors--atl {
  background-color: #e03a3e;
  color: #fdb927; }

.card__footer-colors--bos {
  background-color: #008248;
  color: #ffffff; }

.card__footer-colors--bkn {
  background-color: #000000;
  color: #ffffff; }

.card__footer-colors--cha {
  background-color: #00788c;
  color: #1d1160; }

.card__footer-colors--chi {
  background-color: #ce1141;
  color: #000000; }

.card__footer-colors--cle {
  background-color: #860038;
  color: #bc945c; }

.card__footer-colors--dal {
  background-color: #0064b1;
  color: #00285e; }

.card__footer-colors--den {
  background-color: #0e2240;
  color: #fec524; }

.card__footer-colors--det {
  background-color: #1d428a;
  color: #c8102e; }

.card__footer-colors--gsw {
  background-color: #1d428a;
  color: #fdb927; }

.card__footer-colors--hou {
  background-color: #ce1141;
  color: #ffffff; }

.card__footer-colors--ind {
  background-color: #fdbb30;
  color: #002d62; }

.card__footer-colors--lac {
  background-color: #1d428a;
  color: #ffffff; }

.card__footer-colors--lal {
  background-color: #fdb927;
  color: #552583; }

.card__footer-colors--mem {
  background-color: #7d9bc1;
  color: #0c2340; }

.card__footer-colors--mia {
  background-color: #000000;
  color: #98002e; }

.card__footer-colors--mil {
  background-color: #00471b;
  color: #eee1c6; }

.card__footer-colors--min {
  background-color: #0c2340;
  color: #236192; }

.card__footer-colors--nop {
  background-color: #0a2240;
  color: #8c734b; }

.card__footer-colors--nyk {
  background-color: #f58426;
  color: #006bb6; }

.card__footer-colors--okc {
  background-color: #007ac1;
  color: #f05133; }

.card__footer-colors--orl {
  background-color: #000000;
  color: #0077c0; }

.card__footer-colors--phi {
  background-color: #006bb6;
  color: #ffffff; }

.card__footer-colors--phx {
  background-color: #1d1160;
  color: #e56020; }

.card__footer-colors--por {
  background-color: #000000;
  color: #c90a2b; }

.card__footer-colors--sas {
  background-color: #c4ced4;
  color: #000000; }

.card__footer-colors--sac {
  background-color: #5a2d81;
  color: #ffffff; }

.card__footer-colors--tor {
  background-color: #ce1141;
  color: #000000; }

.card__footer-colors--uta {
  background-color: #0d2240;
  color: #ffa400; }

.card__footer-colors--was {
  background-color: #0d2240;
  color: #ffffff; }

/* ---------------- ADDITIONAL TEAM COLORS  */
.additional__colors--atl {
  background-color: #e03a3e;
  color: #fdb927; }

.additional__colors--bos {
  background-color: #008248;
  color: #ffffff; }

.additional__colors--bkn {
  background-color: #000000;
  color: #707271; }

.additional__colors--cha {
  background-color: #00788c;
  color: #1d1160; }

.additional__colors--chi {
  background-color: #ce1141;
  color: #000000; }

.additional__colors--cle {
  background-color: #860038;
  color: #bc945c; }

.additional__colors--dal {
  background-color: #0064b1;
  color: #00285e; }

.additional__colors--den {
  background-color: #0e2240;
  color: #fec524; }

.additional__colors--det {
  background-color: #1d428a;
  color: #c8102e; }

.additional__colors--gsw {
  background-color: #1d428a;
  color: #fdb927; }

.additional__colors--hou {
  background-color: #ce1141;
  color: #ffffff; }

.additional__colors--ind {
  background-color: #fdbb30;
  color: #002d62; }

.additional__colors--lac {
  background-color: #1d428a;
  color: #ffffff; }

.additional__colors--lal {
  background-color: #552583;
  color: #fdb927; }

.additional__colors--mem {
  background-color: #7d9bc1;
  color: #0c2340; }

.additional__colors--mia {
  background-color: #000000;
  color: #98002e; }

.additional__colors--mil {
  background-color: #00471b;
  color: #eee1c6; }

.additional__colors--min {
  background-color: #0c2340;
  color: #236192; }

.additional__colors--nop {
  background-color: #0a2240;
  color: #8c734b; }

.additional__colors--nyk {
  background-color: #006bb6;
  color: #f58426; }

.additional__colors--okc {
  background-color: #007ac1;
  color: #f05133; }

.additional__colors--orl {
  background-color: #0077c0;
  color: #c4ced4; }

.additional__colors--phi {
  background-color: #006bb6;
  color: #ffffff; }

.additional__colors--phx {
  background-color: #1d1160;
  color: #e56020; }

.additional__colors--por {
  background-color: #c90a2b;
  color: #000000; }

.additional__colors--sas {
  background-color: #000000;
  color: #c4ced4; }

.additional__colors--sac {
  background-color: #5a2d81;
  color: #63727a; }

.additional__colors--tor {
  background-color: #ce1141;
  color: #000000; }

.additional__colors--uta {
  background-color: #0d2240;
  color: #ffa400; }

.additional__colors--was {
  background-color: #0d2240;
  color: #ffffff; }

/* ---------------- SECTION BACKGROUND TEAM COLORS  */
.section__bg-colors--atl {
  background-color: rgba(253, 185, 39, 0.1); }

.section__bg-colors--bos {
  background-color: rgba(0, 130, 72, 0.1); }

.section__bg-colors--bkn {
  background-color: rgba(0, 0, 0, 0.1); }

.section__bg-colors--cha {
  background-color: rgba(0, 120, 140, 0.1); }

.section__bg-colors--chi {
  background-color: rgba(0, 0, 0, 0.1); }

.section__bg-colors--cle {
  background-color: rgba(188, 148, 92, 0.1); }

.section__bg-colors--dal {
  background-color: rgba(0, 40, 94, 0.1); }

.section__bg-colors--den {
  background-color: rgba(254, 197, 36, 0.1); }

.section__bg-colors--det {
  background-color: rgba(29, 66, 138, 0.1); }

.section__bg-colors--gsw {
  background-color: rgba(253, 185, 39, 0.1); }

.section__bg-colors--hou {
  background-color: rgba(0, 0, 0, 0.1); }

.section__bg-colors--ind {
  background-color: rgba(0, 45, 98, 0.1); }

.section__bg-colors--lac {
  background-color: rgba(29, 66, 138, 0.1); }

.section__bg-colors--lal {
  background-color: rgba(253, 185, 39, 0.1); }

.section__bg-colors--mem {
  background-color: rgba(12, 35, 64, 0.1); }

.section__bg-colors--mia {
  background-color: rgba(0, 0, 0, 0.1); }

.section__bg-colors--mil {
  background-color: rgba(0, 71, 27, 0.1); }

.section__bg-colors--min {
  background-color: rgba(35, 97, 146, 0.1); }

.section__bg-colors--nop {
  background-color: rgba(140, 115, 75, 0.1); }

.section__bg-colors--nyk {
  background-color: rgba(245, 132, 38, 0.1); }

.section__bg-colors--okc {
  background-color: rgba(240, 81, 51, 0.1); }

.section__bg-colors--orl {
  background-color: rgba(0, 0, 0, 0.1); }

.section__bg-colors--phi {
  background-color: rgba(0, 107, 182, 0.1); }

.section__bg-colors--phx {
  background-color: rgba(229, 96, 32, 0.1); }

.section__bg-colors--por {
  background-color: rgba(0, 0, 0, 0.1); }

.section__bg-colors--sas {
  background-color: rgba(0, 0, 0, 0.1); }

.section__bg-colors--sac {
  background-color: rgba(90, 45, 129, 0.1); }

.section__bg-colors--tor {
  background-color: rgba(206, 17, 65, 0.1); }

.section__bg-colors--uta {
  background-color: rgba(43, 81, 52, 0.1); }

.section__bg-colors--was {
  background-color: rgba(13, 34, 64, 0.1); }

/* ------------------------------- HEADING SECTION */
.section__heading {
  font-size: 2.25rem;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-background-clip: text;
  letter-spacing: 0.1rem;
  line-height: 1.3;
  display: inline-block;
  margin: 3rem 0; }

/* ---------------------------------------------- SECTION INFO */
.section-info {
  position: relative;
  height: 45vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .section-info > * {
    padding: 0 8vw;
    padding-bottom: calc(1vw + var(--section-rotate));
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%; }

/* ------------------------------- INFO HERO */
.info__hero {
  height: 100%; }
  .info__hero-img {
    -o-object-fit: contain;
    object-fit: contain;
    height: 100%;
    width: 100%; }

/* ---------------------------------------------- SECTION MAP */
.section-map {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row-reverse;
  margin-top: calc(0px - var(--section-rotate));
  -ms-flex: 0 0 50%;
  flex: 0 0 70%; }
  .section-map > * {
    padding: 1rem 8rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%; }

/* ------------------------------- MAP */
#map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  bottom: 0; }

/* ------------------------------- MARKER */
.marker {
  background-image: url(../img/nba_logo.png);
  background-size: cover;
  width: 20px;
  height: 45px;
  cursor: pointer; }

/* ------------------------------- PLAYERS */
.players {
  padding: 5rem 0;
  display: grid;
  column-gap: 6rem;
  grid-auto-flow: column;
  overflow-x: scroll;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
  /* ------------------------------- PLAYERS CARD */
  /* ---------------- PLAYERS HEADER INFO */
  /* ---------------- PLAYERS NAME */
  /* ---------------- PLAYERS NUMBER */
  /* ---------------- PLAYERS POSITION */
  /* ---------------- PLAYERS LABEL */
  /* ---------------- PLAYERS TEXT */
  /* ---------------- PLAYERS HISTORY */
  /* ---------------- PLAYERS HISTORY */
  /* ---------------- PLAYERS PROFILE */ }
  .players__card {
    width: 45rem;
    height: 25rem;
    background-color: #f7f7f7;
    border-radius: 3px;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    scroll-snap-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    position: relative; }
  .players__card::after {
    content: "";
    display: block;
    position: absolute;
    top: 10%;
    right: -2px;
    height: 80%;
    border-left: 2px solid rgba(0, 0, 0, 0.025); }
  .players__header-info {
    width: 15rem;
    height: 100%;
    position: relative;
    float: left;
    display: grid;
    grid-template-rows: auto auto max-content;
    padding: 1rem;
    justify-content: center;
    text-align: center; }
  .players__name {
    top: 15%;
    font-size: 1.5rem;
    font-weight: 800;
    text-transform: uppercase;
    padding: 0.125rem 0.75rem; }
  .players__number {
    font-family: "Stardos Stencil", cursive;
    font-size: 7.5rem;
    top: 50%; }
  .players__position {
    font-size: 2em;
    font-weight: bold;
    padding: 0.125rem 0.75rem;
    border-radius: 100px; }
  .players__label {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.4rem; }
  .players__text {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-style: italic;
    font-weight: 400; }
  .players__history {
    width: 300px;
    height: 100%;
    position: absolute;
    float: left;
    left: 150px;
    padding: 1rem;
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    justify-content: space-evenly;
    align-items: center;
    text-align: center; }
  .players__history-school {
    grid-column: 1 / span 3;
    text-align: center; }
  .players__history-college {
    grid-column: 1 / span 3;
    text-align: center; }
  .players__history-draft-team {
    grid-column: 1 / span 3;
    text-align: center; }
  .players__profile {
    width: 300px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    box-sizing: border-box;
    padding: 1rem;
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(2, auto);
    gap: 0.5rem;
    justify-content: space-evenly;
    align-items: center;
    text-align: center; }
  .players__profile-birthplace {
    grid-column: 1 / 3;
    text-align: center; }
  .players__profile-country {
    grid-column: 1 / 3;
    text-align: center; }
  .players__profile-birthdate {
    grid-column: 1 / 3;
    text-align: center; }

/* ---------------- PLAYERS SCROLLBAR */
::-webkit-scrollbar {
  display: none; }

/* ---------------- ADDITIONAL  */
.additional {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  width: 15rem;
  height: 100%;
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2; }
  .additional:hover {
    width: 100%;
    border-radius: 0 5px 5px 0; }

/* ------------------------------- SECTION BOX */
.section-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  /* ---------------- SECTION BOX DETAIL */
  /* ---------------- SECTION BOX LABEL */
  /* ---------------- SECTION BOX TEXT */ }
  .section-box__detail {
    font-size: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 400;
    margin-bottom: 2.25rem; }
  .section-box__detail svg {
    margin-right: 1.25rem; }
  .section-box__label {
    font-weight: 700;
    margin-right: 2.25rem;
    text-transform: uppercase;
    font-size: 1.4rem; }
  .section-box__text {
    margin-right: 2.25rem;
    text-transform: capitalize; }

/* ---------------------------------------------- CARD CONTAINER */
.card-container {
  max-width: 120rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 7rem; }

/* ------------------------------- CARD */
.card {
  text-decoration: none;
  border-radius: 100px;
  overflow: hidden;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  outline: none;
  /* ---------------- CARD HEADER */
  /* ---------------- CARD PICTURE */
  /* -------------- CARD FOOTER */ }
  .card__header {
    position: relative; }
  .card__picture {
    position: relative;
    height: 22rem;
    z-index: 1;
    /* - CARD PICTURE IMG */
    /* - CARD PICTURE CAPTION */ }
    .card__picture-img {
      -o-object-fit: contain;
      object-fit: contain;
      object-position: center;
      height: 70%;
      width: 70%;
      transform: translate(20%, 25%);
      transition: all 0.8s;
      backface-visibility: hidden; }
    .card__picture-caption {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 60%;
      border-radius: 50px;
      transform: translate(-50%, 20%);
      text-transform: uppercase;
      font-size: 2.5rem;
      font-weight: 800;
      text-align: center;
      opacity: 0;
      transition: all 0.8s;
      backface-visibility: hidden; }
  .card__footer {
    padding: 1.5rem 3rem;
    border-top: 1px solid #f1f1f1;
    font-size: 1.75rem;
    text-align: center;
    z-index: 2; }
    .card__footer-text {
      font-weight: 800; }
  .card:hover .card__picture-caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .card:hover .card__picture-img {
    transform: translate(20%, 25%) scale(0.8);
    filter: blur(3px) brightness(80%); }

/* -------------------------------------------------------- COLOUR VARIABLES */
/* -------------------------------- NBA */
/* -------------------------------- HAWKS */
/* -------------------------------- CELTICS */
/* -------------------------------- NETS */
/* -------------------------------- HORNETS */
/* -------------------------------- BULLS */
/* -------------------------------- CAVS */
/* -------------------------------- MAVS */
/* -------------------------------- NUGGETS */
/* -------------------------------- PISTONS */
/* -------------------------------- WARRIORS */
/* -------------------------------- ROCKETS */
/* -------------------------------- PACERS */
/* -------------------------------- CLIPPERS */
/* -------------------------------- LAKERS */
/* -------------------------------- GRIZZLIES */
/* -------------------------------- HEAT */
/* -------------------------------- BUCKS */
/* -------------------------------- WOLVES */
/* -------------------------------- PELICANS */
/* -------------------------------- KNICKS */
/* -------------------------------- THUNDER */
/* -------------------------------- MAGIC */
/* -------------------------------- 76ERS */
/* -------------------------------- SUNS */
/* -------------------------------- BLAZERS */
/* -------------------------------- SPURS */
/* -------------------------------- KINGS */
/* -------------------------------- RAPTORS */
/* -------------------------------- JAZZ */
/* -------------------------------- WIZARDS */
/* ---------------------------------------------- FOOTER */
.footer {
  background-color: #f7f7f7;
  padding: 6rem 4rem 3rem 4rem;
  font-size: 1.4rem;
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 0.75rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  /* ------------------------------- FOOTER LOGO */
  /* ------------------------------- FOOTER NAV */
  /* ------------------------------- FOOTER COPYRIGHT */ }
  @media only screen and (max-width: 50em) {
    .footer .footer {
      grid-template-columns: 1fr;
      grid-row-gap: 1.25rem;
      justify-items: center; } }
  .footer__logo {
    grid-row: 1 / 3;
    -ms-flex-item-align: center;
    align-self: center; }
  @media only screen and (max-width: 50em) {
    .footer__logo {
      grid-row: 1; } }
  .footer__logo img {
    height: 3rem; }
  .footer__nav {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end; }
  .footer__nav li {
    margin-left: 1.5rem; }
  .footer__nav a {
    color: #777;
    text-decoration: none !important;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
  .footer__nav a:hover,
  .footer__nav a:active {
    color: #55c57a; }
  .footer__copyright {
    justify-self: end;
    color: #999; }
  @media only screen and (max-width: 50em) {
    .footer__copyright {
      justify-self: center; } }

/* -------------------------------------------------------- COLOUR VARIABLES */
/* -------------------------------- NBA */
/* -------------------------------- HAWKS */
/* -------------------------------- CELTICS */
/* -------------------------------- NETS */
/* -------------------------------- HORNETS */
/* -------------------------------- BULLS */
/* -------------------------------- CAVS */
/* -------------------------------- MAVS */
/* -------------------------------- NUGGETS */
/* -------------------------------- PISTONS */
/* -------------------------------- WARRIORS */
/* -------------------------------- ROCKETS */
/* -------------------------------- PACERS */
/* -------------------------------- CLIPPERS */
/* -------------------------------- LAKERS */
/* -------------------------------- GRIZZLIES */
/* -------------------------------- HEAT */
/* -------------------------------- BUCKS */
/* -------------------------------- WOLVES */
/* -------------------------------- PELICANS */
/* -------------------------------- KNICKS */
/* -------------------------------- THUNDER */
/* -------------------------------- MAGIC */
/* -------------------------------- 76ERS */
/* -------------------------------- SUNS */
/* -------------------------------- BLAZERS */
/* -------------------------------- SPURS */
/* -------------------------------- KINGS */
/* -------------------------------- RAPTORS */
/* -------------------------------- JAZZ */
/* -------------------------------- WIZARDS */
/* ---------------------------------------------- HEADER */
.header {
  background: linear-gradient(135deg, rgba(0, 66, 139, 0.85) 49%, rgba(255, 255, 255, 0.85) 51%, rgba(217, 26, 50, 0.85) 100%);
  padding: 0 5rem;
  height: 8rem;
  position: relative;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* ------------------------------- HEADER LOGO */ }
  @media only screen and (max-width: 62.5em) {
    .header .header {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  .header__logo img {
    height: 3.5rem; }
  @media only screen and (max-width: 62.5em) {
    .header .header__logo {
      -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
      order: -1;
      margin-bottom: 1.5rem; } }

/* ---------------------------------------------- NAVIGATION */
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

@media only screen and (max-width: 37.5em) {
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

/* ------------------------------- NAV TEAMS */
.nav--teams {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 40%;
  flex: 0 1 40%; }

@media only screen and (max-width: 62.5em) {
  .nav--teams {
    margin-bottom: 1.5rem; } }

@media only screen and (max-width: 37.5em) {
  .nav--teams {
    margin-bottom: 0; } }

/* ------------------------------- NAV EL */
.nav__el,
.nav__el:link,
.nav__el:visited {
  color: #f7f7f7;
  text-transform: uppercase;
  font-size: 1.6rem;
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-weight: 400;
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit; }

.nav__el:hover,
.nav__el:active {
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
  text-shadow: 0 0.7rem 1rem black; }

.nav__el:not(:last-child) {
  margin-right: 3rem; }

@media only screen and (max-width: 37.5em) {
  .nav__el:not(:last-child) {
    margin-right: 0;
    margin-bottom: 1.2rem; } }

.nav__el:focus {
  outline: none; }

/* ---------------------------------------------- MAIN */
.main {
  background-color: #f7f7f7;
  padding: 8rem 6rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative; }
