@import "./../abstracts/variables";
@import "./../abstracts/mixins";

/* ---------------------------------------------- SECTION MAP */
.section-map {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	position: relative;
	// DOES => Makes map to be displayed second in the row after the venue details.
	flex-direction: row-reverse;
	// DOES => In combination with padding bottom for all elements in .section-info, margin-top and height: 30vw make the contents of the 4 boxes to be evenly distributed.
	margin-top: calc(2rem - var(--section-rotate));
	height: 30vw;

	-ms-flex: 0 0 70%;
	flex: 0 0 70%;

	/* @MEDIA QUERIES */
	@include respond(mob-lg) {
		height: 50vw;
	}

	& > * {
		padding: 1rem 8rem;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;

		/* @MEDIA QUERIES */
		@include respond(mob-lg) {
			padding: 0 1rem;
		}
	}
}

/* ------------------------------- MAP */
#map {
	// DOES => Imitates the border radius of the team and player cards, giving each section a border radius in only one corner depending on their position.
	border-radius: 0 0 2.5rem 0;

	/* @MEDIA QUERIES */
	@include respond(xl) {
		// DOES => Zooms in on map displaying the same area as for other viewport screens.
		zoom: 2;
	}
}

/* ------------------------------- MARKER */
.marker {
	background-image: url(../img/nba_logo.png);
	background-size: cover;
	// DOES => Mantain NBA logo ratio.
	width: 20px;
	height: 45px;

	/* @MEDIA QUERIES */
	@include respond(xl) {
		width: 30px;
		height: 70px;
	}
}
