/* ---------------------------------------------- SECTION MAP */
.section-map {
	position: relative;
	height: 30vw;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row-reverse;
	margin-top: calc(2rem - var(--section-rotate));
	-ms-flex: 0 0 50%;
	flex: 0 0 70%;

	& > * {
		padding: 1rem 8rem;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
	}
}

/* ------------------------------- MAP */
#map {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	top: 0;
	bottom: 0;
	// DOES=> Imitates the border radius of the team and player cards, giving each section a border radius in only one corner depending on their position.
	border-radius: 0 0 5rem 0;
}

/* ------------------------------- MARKER */
.marker {
	background-image: url(../img/nba_logo.png);
	background-size: cover;
	width: 20px;
	height: 45px;
	cursor: pointer;
}
