@import "./../abstracts/variables";
@import "./../abstracts/mixins";

/* -------------------------------------------------------- PLAYERS */
.players {
	display: grid;
	// DOES => Column gap defines the gap between the cards.
	column-gap: 6rem;
	// DOES => Cards are placed by filling each column in turn, adding new columns as necessary.
	grid-auto-flow: column;
	// DOES => Makes overflow content visible when scrolling.
	overflow-x: scroll;
	// DOES => The scroll container snaps to snap positions in its horizontal axis only.
	-ms-scroll-snap-type: x mandatory;
	scroll-snap-type: x mandatory;

	padding: 5rem 6rem;

	/* @MEDIA QUERIES */
	@include respond(mob-lg) {
		padding: 2rem 1rem;
		column-gap: 2rem;
	}

	/* ---------------------------------- PLAYERS CARD */
	&__card {
		width: 50rem;
		height: 25rem;
		border-radius: 5rem;
		background-color: $color-background-primary;
		-webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
		box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
		// DOES => If card is scrolled over halfway the viewport (depending on direction of scrolling), that card will be displayed at centre of viewport.
		scroll-snap-align: center;
		position: relative;
		// DOES => Hiddes the background of the .additional side of the card to be displayed underneath the card when not hovered over. It also prevents the round corners to not to be visible.
		overflow: hidden;

		/* @MEDIA QUERIES */
		@include respond(xl) {
			// DOES => Doubles the dimensions of the card to maintain the ratio with the rest of the page.
			width: 100rem;
			height: 50rem;
		}

		@include respond(mob-lg) {
			// DOES => Redcuces the dimensions of the card to maintain the ratio with the rest of the page.
			width: 30rem;
			height: 20rem;
		}
	}

	/* ------------------------------------ ADDITIONAL  */
	.additional {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;

		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;

		position: absolute;
		// NOTE => Width cannot be higher than 17rem, as it will show players history contents.
		width: 17rem;
		height: 100%;
		// DOES => Hides the contents of players__history so they don't overlap the players__profile
		overflow: hidden;
		// DOES => z-index makes additional content to overlap player's profile content, preventing this to still be visible when hovering over card.
		z-index: 2;

		-webkit-transition: width 0.8s;
		transition: width 0.8s;

		&:hover {
			// DOES => Makes additional content to cover full width of card.
			width: 100%;
		}

		/* @MEDIA QUERIES */
		@include respond(xl) {
			// DOES => Doubles the width of the section to maintain the ratio with the rest of the card.
			width: 34rem;
		}

		@include respond(mob-lg) {
			// DOES => Halves the width of the section to maintain the ratio with the rest of the card.
			width: 11rem;
		}
	}

	/* ------------------- PLAYERS HEADER INFO */
	&__header-info {
		display: grid;
		grid-template-rows: auto auto max-content;

		// NOTE => Width needs to match the initial additional element's width to make items be centered within the parent element.
		width: 17rem;
		text-align: center;

		/* @MEDIA QUERIES */
		@include respond(xl) {
			// DOES => Doubles the width of the section to maintain the ratio with the rest of the card.
			width: 34rem;
		}

		@include respond(mob-lg) {
			// DOES => Halves the width of the section to maintain the ratio with the rest of the card.
			width: 11rem;
		}
	}

	/* ------------------- PLAYERS NAME */
	&__name {
		font-size: 1.5rem;
		font-weight: 800;
		text-transform: uppercase;
		padding: 0.125rem 0.75rem;

		/* @MEDIA QUERIES */
		@include respond(xl) {
			font-size: 3rem;
		}

		@include respond(mob-lg) {
			font-size: 1rem;
			padding: 0;
		}
	}

	/* ------------------- PLAYERS NUMBER */
	&__number {
		font-family: "Stardos Stencil", cursive;
		font-size: 7.5rem;

		/* @MEDIA QUERIES */
		@include respond(xl) {
			font-size: 15rem;
		}

		@include respond(mob-lg) {
			font-size: 5rem;
		}
	}

	/* ------------------- PLAYERS POSITION */
	&__position {
		font-size: 2rem;
		font-weight: 700;
		padding: 0.125rem 0.75rem;

		/* @MEDIA QUERIES */
		@include respond(xl) {
			font-size: 4rem;
		}

		@include respond(mob-lg) {
			font-size: 1.5rem;
		}
	}

	/* ------------------- PLAYERS LABEL */
	&__label {
		font-weight: 800;
		text-transform: uppercase;
		font-size: 1.4rem;
		white-space: nowrap;

		/* @MEDIA QUERIES */
		@include respond(xl) {
			font-size: 2.8rem;
		}

		@include respond(mob-lg) {
			font-size: 1rem;
		}
	}

	/* ------------------- PLAYERS TEXT */
	&__text {
		font-size: 1.5rem;
		margin-bottom: 1rem;
		font-weight: 400;
		font-style: italic;
		white-space: nowrap;

		/* @MEDIA QUERIES */
		@include respond(xl) {
			font-size: 3rem;
		}

		@include respond(mob-lg) {
			font-size: 1.2rem;
			margin-bottom: 0;
		}
	}

	/* ---------------------------------- PLAYERS HISTORY */
	&__history {
		display: grid;
		grid-template-rows: repeat(3, auto);
		grid-template-columns: repeat(3, 1fr);
		gap: 0.5rem;

		text-align: center;
		// DOES => All properties below allow for content to fit evenly within the card.
		position: absolute;
		width: 35rem;
		height: 100%;
		left: 16rem;
		padding: 1rem;

		/* @MEDIA QUERIES */
		@include respond(xl) {
			// DOES => Doubles the width of the section to maintain the ratio with the rest of the card.
			width: 70rem;
			// DOES => Allows for content to fit evenly within the card.
			left: 32rem;
		}

		@include respond(mob-lg) {
			// DOES => Adjusts the width of the section to maintain the ratio with the rest of the card.
			width: 18rem;
			left: 10rem;
		}

		// DOES => Makes these rows to occupy the whole width of the grid.
		&-school,
		&-college,
		&-draft-team {
			grid-column: 1 / span 3;
			text-align: center;
		}
	}

	/* ---------------------------------- PLAYERS PROFILE */
	&__profile {
		display: grid;
		grid-template-rows: repeat(4, auto);
		grid-template-columns: repeat(2, auto);
		gap: 0.5rem;

		// NOTE => z-index needs to be lower than additional's so it is covered when hovering.
		z-index: 1;
		// DOES => All properties below allow for content to fit evenly within the card.
		position: absolute;
		text-align: center;
		width: 35rem;
		height: 100%;
		right: 0;
		padding: 1rem;

		/* @MEDIA QUERIES */
		@include respond(xl) {
			// DOES => Doubles the width of the section to maintain the ratio with the rest of the card.
			width: 65rem;
		}

		@include respond(mob-lg) {
			// DOES => Adjists the width of the section to maintain the ratio with the rest of the card.
			width: 20rem;
		}
	}

	// DOES => Makes these rows to occupy the whole width of the grid.
	&__profile-birthplace,
	&__profile-country,
	&__profile-birthdate {
		grid-column: 1 / 3;
		text-align: center;
	}
}

/* ------------------------------------ PLAYERS SCROLLBAR */
// DOES => Hides scrollbar on players cards section.
::-webkit-scrollbar {
	display: none;
}
