@import "./../abstracts/variables";
@import "./../abstracts/mixins";

/* -------------------------------------------------------- SECTION BOX */
.section-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;

	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;

	/* --------------------------------------- SECTION BOX FIELD */
	&__field {
		// display: -webkit-box;
		// display: -ms-flexbox;
		// display: flex;

		// -webkit-box-align: center;
		// -ms-flex-align: center;
		// align-items: center;

		font-size: 1.6rem;
		font-weight: 400;
		margin-bottom: 2.25rem;

		/* @MEDIA QUERIES */
		@include respond(xl) {
			font-size: 3.2rem;
		}

		@include respond(desktop) {
			font-size: 1.8rem;
		}

		@include respond(tablet) {
			font-size: 1.3rem;
			margin-bottom: 1rem;
		}
	}

	/* ---------------- SECTION BOX LABEL */
	&__label {
		font-weight: 700;
		margin-right: 2.25rem;
		text-transform: uppercase;
	}
	/* ---------------- SECTION BOX TEXT */
	&__text {
		margin-right: 2.25rem;
		text-transform: capitalize;
	}
}

// DOES => Imitates the border radius of the team and player cards, giving each section a border radius in only one corner depending on their position.
#facts-box {
	border-radius: 0 2.5rem 0 0;
}

#venue-box {
	border-radius: 0 0 0 2.5rem;
}
