/* -------------------------------------------------------- SECTION BOX */
.section-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;

	/* --------------------------------------- SECTION BOX DETAIL */
	&__detail {
		font-size: 1.6rem;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		font-weight: 400;
		margin-bottom: 2.25rem;
	}

	/* ---------------- SECTION BOX LABEL */
	&__label {
		font-weight: 700;
		margin-right: 2.25rem;
		text-transform: uppercase;
	}
	/* ---------------- SECTION BOX TEXT */
	&__text {
		margin-right: 2.25rem;
		text-transform: capitalize;
	}
}
