@import "./../abstracts/variables";
@import "./../abstracts/mixins";
/* ---------------------------------------------- CARD CONTAINER */
.card-container {
	max-width: 120rem;
	padding: 0 6rem;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 7rem;

	/* @MEDIA QUERIES */
	@include respond(xl) {
		max-width: 200rem;
		gap: 10rem;
	}

	@include respond(tablet) {
		gap: 3.5rem;
		// DOES => Replace the padding removed from the main section, allowing some real state between the cards and the mobile__nav button.
		padding-top: 6rem;
		padding-bottom: 6rem;
	}

	@include respond(mob-lg) {
		gap: 2rem;
		// DOES => Replace the padding removed from the main section, allowing some real state between the cards and the mobile__nav button.
		padding: 4rem 5rem 4rem 3rem;
	}
}

/* ------------------------------- CARD */
.card {
	height: 30rem;
	background-color: $color-nba-white;
	border-radius: 10rem;
	-webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
	box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
	text-decoration: none;
	// DOES => Makes card__footer respect the card border radius.
	overflow: hidden;

	-webkit-transition: 0.4s all;
	transition: 0.4s all;

	/* @MEDIA QUERIES */
	@include respond(tablet) {
		height: 17rem;
		width: 17rem;
	}

	@include respond(mob-lg) {
		height: 7.5rem;
		width: 7.5rem;
	}

	/* -------------- CARD PICTURE */
	&__picture {
		// DOES => Position: relative is required so caption is displayed on hovering.
		position: relative;
		// DOES => Height: 22rem is required so all cards mantain the same size regardless of size and direction of logo image (round, portrait or landscape).
		height: 22rem;
		// DOES => Ensures picture-caption displays over logo on hovering.
		z-index: 1;

		/* @MEDIA QUERIES */
		@include respond(xl) {
			height: 33rem;
		}

		@include respond(tablet) {
			height: 12rem;
		}

		@include respond(mob-lg) {
			height: 6rem;
		}

		/* -- CARD PICTURE IMG */
		&-img {
			// DOES => Mantains aspect ratio of logo while fitting within the content box.
			-o-object-fit: contain;
			object-fit: contain;
			object-position: center;
			// DOES => Height, width and transform: translate make logos to be placed centered within the content box.
			height: 70%;
			width: 70%;
			transform: translate(20%, 25%);

			transition: all 0.8s;

			/* @MEDIA QUERIES */
			@include respond(tablet) {
				// DOES => Maintains team logo centered within the card after removing the card footer on smaller screens.
				transform: translate(22%, 50%);
			}

			@include respond(mob-lg) {
				// DOES => Maintains team logo centered within the card after removing the card footer on smaller screens.
				transform: translate(22%, 35%);
			}
		}

		/* - CARD PICTURE CAPTION */
		&-caption {
			// DOES => Position: absolute, top and left 50% make caption to be centered with team logo when hovered on.
			position: absolute;
			top: 50%;
			left: 50%;
			width: 60%;
			text-transform: uppercase;
			text-align: center;
			font-size: 2.5rem;
			font-weight: 800;
			border-radius: $border-radius;
			opacity: 0;
			// DOES => Places caption at the bottom of card__header so when hovering over the card, caption appears to come up from footer.
			transform: translate(-50%, 300%);
			transition: all 0.8s;

			/* @MEDIA QUERIES */
			@include respond(xl) {
				font-size: 4rem;
			}

			@include respond(tablet) {
				display: none;
			}
		}
	}
	/* -------------- CARD FOOTER */
	&__footer {
		// DOES => Padding creates more real state for the footer text, creating a better ratio with the card__header.
		padding: 1.5rem 3rem;
		font-size: 1.7rem;
		text-align: center;
		height: inherit;
		// DOES => Makes sure picture-caption is hidden behind footer, even if caption opacity is set to 0.
		z-index: 2;

		&-text {
			font-weight: 800;
		}

		/* @MEDIA QUERIES */
		@include respond(xl) {
			font-size: 3.4rem;
		}

		@include respond(tablet) {
			// DOES => Removes the card__footer to allow more real state for the card__picture.
			display: none;
		}
	}

	&:hover &__picture-caption {
		// DOES => Creates effect of caption appearing from the bottom of the card to the centre.
		opacity: 1;
		transform: translate(-50%, -50%);
	}

	&:hover &__picture-img {
		// DOES => Creates effect of team logp fading into the background, making picutre-caption more visible.
		transform: translate(20%, 25%) scale(0.8);
		filter: blur(3px) brightness(80%);

		@include respond(tablet) {
			// DOES => Reverts the hovering effect on touch screens.
			transform: translate(20%, 20%) scale(1);
			filter: blur(0) brightness(1);
		}
	}
}
