@import "./../abstracts/variables.scss";

/* ------------------------------------------------ CARD FOOTER TEAM COLORS  */
.card__footer-colors--atl {
	background-color: $color-atl-primary;
	color: $color-atl-secondary;
}
.card__footer-colors--bos {
	background-color: $color-bos-primary;
	color: $color-bos-secondary;
}
.card__footer-colors--bkn {
	background-color: $color-bkn-primary;
	color: $color-bkn-tertiary;
}
.card__footer-colors--cha {
	background-color: $color-cha-primary;
	color: $color-cha-secondary;
}
.card__footer-colors--chi {
	background-color: $color-chi-primary;
	color: $color-chi-secondary;
}
.card__footer-colors--cle {
	background-color: $color-cle-primary;
	color: $color-cle-secondary;
}
.card__footer-colors--dal {
	background-color: $color-dal-primary;
	color: $color-dal-secondary;
}
.card__footer-colors--den {
	background-color: $color-den-primary;
	color: $color-den-secondary;
}
.card__footer-colors--det {
	background-color: $color-det-primary;
	color: $color-det-secondary;
}
.card__footer-colors--gsw {
	background-color: $color-gsw-primary;
	color: $color-gsw-secondary;
}
.card__footer-colors--hou {
	background-color: $color-hou-primary;
	color: $color-hou-secondary;
}
.card__footer-colors--ind {
	background-color: $color-ind-primary;
	color: $color-ind-secondary;
}
.card__footer-colors--lac {
	background-color: $color-lac-primary;
	color: $color-lac-secondary;
}
.card__footer-colors--lal {
	background-color: $color-lal-secondary;
	color: $color-lal-primary;
}
.card__footer-colors--mem {
	background-color: $color-mem-primary;
	color: $color-mem-secondary;
}
.card__footer-colors--mia {
	background-color: $color-mia-primary;
	color: $color-mia-secondary;
}
.card__footer-colors--mil {
	background-color: $color-mil-primary;
	color: $color-mil-secondary;
}
.card__footer-colors--min {
	background-color: $color-min-primary;
	color: $color-min-secondary;
}
.card__footer-colors--nop {
	background-color: $color-nop-primary;
	color: $color-nop-secondary;
}
.card__footer-colors--nyk {
	background-color: $color-nyk-secondary;
	color: $color-nyk-primary;
}
.card__footer-colors--okc {
	background-color: $color-okc-primary;
	color: $color-okc-secondary;
}
.card__footer-colors--orl {
	background-color: $color-orl-tertiary;
	color: $color-orl-primary;
}
.card__footer-colors--phi {
	background-color: $color-phi-primary;
	color: $color-phi-secondary;
}
.card__footer-colors--phx {
	background-color: $color-phx-primary;
	color: $color-phx-secondary;
}
.card__footer-colors--por {
	background-color: $color-por-secondary;
	color: $color-por-primary;
}
.card__footer-colors--sas {
	background-color: $color-sas-secondary;
	color: $color-sas-primary;
}
.card__footer-colors--sac {
	background-color: $color-sac-primary;
	color: $color-sac-tertiary;
}
.card__footer-colors--tor {
	background-color: $color-tor-primary;
	color: $color-tor-secondary;
}
.card__footer-colors--uta {
	background-color: $color-uta-primary;
	color: $color-uta-secondary;
}
.card__footer-colors--was {
	background-color: $color-was-secondary;
	color: $color-was-primary;
}

/* ------------------------------------------------ SECTION BACKGROUND TEAM COLORS  */
.section__bg-colors--atl {
	background-color: rgba($color-atl-secondary, 0.1);
}
.section__bg-colors--bos {
	background-color: rgba($color-bos-primary, 0.1);
}
.section__bg-colors--bkn {
	background-color: rgba($color-bkn-primary, 0.1);
}
.section__bg-colors--cha {
	background-color: rgba($color-cha-primary, 0.1);
}
.section__bg-colors--chi {
	background-color: rgba($color-chi-secondary, 0.1);
}
.section__bg-colors--cle {
	background-color: rgba($color-cle-secondary, 0.1);
}
.section__bg-colors--dal {
	background-color: rgba($color-dal-secondary, 0.1);
}
.section__bg-colors--den {
	background-color: rgba($color-den-secondary, 0.1);
}
.section__bg-colors--det {
	background-color: rgba($color-det-primary, 0.1);
}
.section__bg-colors--gsw {
	background-color: rgba($color-gsw-secondary, 0.1);
}
.section__bg-colors--hou {
	background-color: rgba($color-hou-tertiary, 0.1);
}
.section__bg-colors--ind {
	background-color: rgba($color-ind-secondary, 0.1);
}
.section__bg-colors--lac {
	background-color: rgba($color-lac-primary, 0.1);
}
.section__bg-colors--lal {
	background-color: rgba($color-lal-secondary, 0.1);
}
.section__bg-colors--mem {
	background-color: rgba($color-mem-secondary, 0.1);
}
.section__bg-colors--mia {
	background-color: rgba($color-mia-primary, 0.1);
}
.section__bg-colors--mil {
	background-color: rgba($color-mil-primary, 0.1);
}
.section__bg-colors--min {
	background-color: rgba($color-min-secondary, 0.1);
}
.section__bg-colors--nop {
	background-color: rgba($color-nop-secondary, 0.1);
}
.section__bg-colors--nyk {
	background-color: rgba($color-nyk-secondary, 0.1);
}
.section__bg-colors--okc {
	background-color: rgba($color-okc-secondary, 0.1);
}
.section__bg-colors--orl {
	background-color: rgba($color-orl-tertiary, 0.1);
}
.section__bg-colors--phi {
	background-color: rgba($color-phi-primary, 0.1);
}
.section__bg-colors--phx {
	background-color: rgba($color-phx-secondary, 0.1);
}
.section__bg-colors--por {
	background-color: rgba($color-por-secondary, 0.1);
}
.section__bg-colors--sas {
	background-color: rgba($color-sas-primary, 0.1);
}
.section__bg-colors--sac {
	background-color: rgba($color-sac-primary, 0.1);
}
.section__bg-colors--tor {
	background-color: rgba($color-tor-primary, 0.1);
}
.section__bg-colors--uta {
	background-color: rgba($color-uta-tertiary, 0.1);
}
.section__bg-colors--was {
	background-color: rgba($color-was-secondary, 0.1);
}

/* ------------------------------------------------ HEADING TEAM COLOR  */
.heading__color--atl {
	color: $color-atl-primary;
}
.heading__color--bos {
	color: $color-bos-primary;
}
.heading__color--bkn {
	color: $color-bkn-primary;
}
.heading__color--cha {
	color: $color-cha-primary;
}
.heading__color--chi {
	color: $color-chi-secondary;
}
.heading__color--cle {
	color: $color-cle-tertiary;
}
.heading__color--dal {
	color: $color-dal-primary;
}
.heading__color--den {
	color: $color-den-primary;
}
.heading__color--det {
	color: $color-det-secondary;
}
.heading__color--gsw {
	color: $color-gsw-primary;
}
.heading__color--hou {
	color: $color-hou-primary;
}
.heading__color--ind {
	color: $color-ind-secondary;
}
.heading__color--lac {
	color: $color-lac-primary;
}
.heading__color--lal {
	color: $color-lal-primary;
}
.heading__color--mem {
	color: $color-mem-secondary;
}
.heading__color--mia {
	color: $color-mia-primary;
}
.heading__color--mil {
	color: $color-mil-primary;
}
.heading__color--min {
	color: $color-min-primary;
}
.heading__color--nop {
	color: $color-nop-tertiary;
}
.heading__color--nyk {
	color: $color-nyk-primary;
}
.heading__color--okc {
	color: $color-okc-primary;
}
.heading__color--orl {
	color: $color-orl-tertiary;
}
.heading__color--phi {
	color: $color-phi-tertiary;
}
.heading__color--phx {
	color: $color-phx-primary;
}
.heading__color--por {
	color: $color-por-primary;
}
.heading__color--sas {
	color: $color-sas-primary;
}
.heading__color--sac {
	color: $color-sac-primary;
}
.heading__color--tor {
	color: $color-tor-secondary;
}
.heading__color--uta {
	color: $color-uta-primary;
}
.heading__color--was {
	color: $color-was-tertiary;
}

/* ------------------------------------------------ LABEL TEAM COLOR  */
.label__color--atl {
	color: $color-atl-secondary;
}
.label__color--bos {
	color: $color-bos-tertiary;
}
.label__color--bkn {
	color: $color-bkn-secondary;
}
.label__color--cha {
	color: $color-cha-secondary;
}
.label__color--chi {
	color: $color-chi-primary;
}
.label__color--cle {
	color: $color-cle-secondary;
}
.label__color--dal {
	color: $color-dal-secondary;
}
.label__color--den {
	color: $color-den-secondary;
}
.label__color--det {
	color: $color-det-primary;
}
.label__color--gsw {
	color: $color-gsw-secondary;
}
.label__color--hou {
	color: $color-hou-tertiary;
}
.label__color--ind {
	color: $color-ind-primary;
}
.label__color--lac {
	color: $color-lac-tertiary;
}
.label__color--lal {
	color: $color-lal-secondary;
}
.label__color--mem {
	color: $color-mem-primary;
}
.label__color--mia {
	color: $color-mia-secondary;
}
.label__color--mil {
	color: $color-mil-tertiary;
}
.label__color--min {
	color: $color-min-secondary;
}
.label__color--nop {
	color: $color-nop-secondary;
}
.label__color--nyk {
	color: $color-nyk-secondary;
}
.label__color--okc {
	color: $color-okc-secondary;
}
.label__color--orl {
	color: $color-orl-primary;
}
.label__color--phi {
	color: $color-phi-primary;
}
.label__color--phx {
	color: $color-phx-secondary;
}
.label__color--por {
	color: $color-por-secondary;
}
.label__color--sas {
	color: $color-sas-primary;
}
.label__color--sac {
	color: $color-sac-secondary;
}
.label__color--tor {
	color: $color-tor-primary;
}
.label__color--uta {
	color: $color-uta-secondary;
}
.label__color--was {
	color: $color-was-secondary;
}

/* ------------------------------------------------ ADDITIONAL TEAM COLORS  */
.additional__colors--atl {
	background-color: $color-atl-primary;
	color: $color-atl-secondary;
}
.additional__colors--bos {
	background-color: $color-bos-primary;
	color: $color-bos-secondary;
}
.additional__colors--bkn {
	background-color: $color-bkn-primary;
	color: $color-bkn-secondary;
}
.additional__colors--cha {
	background-color: $color-cha-primary;
	color: $color-cha-secondary;
}
.additional__colors--chi {
	background-color: $color-chi-primary;
	color: $color-chi-secondary;
}
.additional__colors--cle {
	background-color: $color-cle-primary;
	color: $color-cle-secondary;
}
.additional__colors--dal {
	background-color: $color-dal-primary;
	color: $color-dal-secondary;
}
.additional__colors--den {
	background-color: $color-den-primary;
	color: $color-den-secondary;
}
.additional__colors--det {
	background-color: $color-det-primary;
	color: $color-det-secondary;
}
.additional__colors--gsw {
	background-color: $color-gsw-primary;
	color: $color-gsw-secondary;
}
.additional__colors--hou {
	background-color: $color-hou-primary;
	color: $color-hou-secondary;
}
.additional__colors--ind {
	background-color: $color-ind-primary;
	color: $color-ind-secondary;
}
.additional__colors--lac {
	background-color: $color-lac-primary;
	color: $color-lac-secondary;
}
.additional__colors--lal {
	background-color: $color-lal-primary;
	color: $color-lal-secondary;
}
.additional__colors--mem {
	background-color: $color-mem-primary;
	color: $color-mem-secondary;
}
.additional__colors--mia {
	background-color: $color-mia-primary;
	color: $color-mia-secondary;
}
.additional__colors--mil {
	background-color: $color-mil-primary;
	color: $color-mil-secondary;
}
.additional__colors--min {
	background-color: $color-min-primary;
	color: $color-min-secondary;
}
.additional__colors--nop {
	background-color: $color-nop-primary;
	color: $color-nop-secondary;
}
.additional__colors--nyk {
	background-color: $color-nyk-primary;
	color: $color-nyk-secondary;
}
.additional__colors--okc {
	background-color: $color-okc-primary;
	color: $color-okc-secondary;
}
.additional__colors--orl {
	background-color: $color-orl-primary;
	color: $color-orl-secondary;
}
.additional__colors--phi {
	background-color: $color-phi-primary;
	color: $color-phi-secondary;
}
.additional__colors--phx {
	background-color: $color-phx-primary;
	color: $color-phx-secondary;
}
.additional__colors--por {
	background-color: $color-por-primary;
	color: $color-por-secondary;
}
.additional__colors--sas {
	background-color: $color-sas-primary;
	color: $color-sas-secondary;
}
.additional__colors--sac {
	background-color: $color-sac-primary;
	color: $color-sac-secondary;
}
.additional__colors--tor {
	background-color: $color-tor-primary;
	color: $color-tor-secondary;
}
.additional__colors--uta {
	background-color: $color-uta-primary;
	color: $color-uta-secondary;
}
.additional__colors--was {
	background-color: $color-was-secondary;
	color: $color-was-primary;
}

/* ------------------------------------------------ ADDITIONAL LABEL TEAM COLOR  */
.additional__label-color--atl {
	color: $color-atl-secondary;
}
.additional__label-color--bos {
	color: $color-bos-tertiary;
}
.additional__label-color--bkn {
	color: $color-bkn-secondary;
}
.additional__label-color--cha {
	color: $color-cha-secondary;
}
.additional__label-color--chi {
	color: $color-chi-secondary;
}
.additional__label-color--cle {
	color: $color-cle-secondary;
}
.additional__label-color--dal {
	color: $color-dal-secondary;
}
.additional__label-color--den {
	color: $color-den-secondary;
}
.additional__label-color--det {
	color: $color-det-secondary;
}
.additional__label-color--gsw {
	color: $color-gsw-secondary;
}
.additional__label-color--hou {
	color: $color-hou-tertiary;
}
.additional__label-color--ind {
	color: $color-ind-secondary;
}
.additional__label-color--lac {
	color: $color-lac-tertiary;
}
.additional__label-color--lal {
	color: $color-lal-secondary;
}
.additional__label-color--mem {
	color: $color-mem-secondary;
}
.additional__label-color--mia {
	color: $color-mia-secondary;
}
.additional__label-color--mil {
	color: $color-mil-tertiary;
}
.additional__label-color--min {
	color: $color-min-secondary;
}
.additional__label-color--nop {
	color: $color-nop-tertiary;
}
.additional__label-color--nyk {
	color: $color-nyk-secondary;
}
.additional__label-color--okc {
	color: $color-okc-secondary;
}
.additional__label-color--orl {
	color: $color-orl-tertiary;
}
.additional__label-color--phi {
	color: $color-phi-secondary;
}
.additional__label-color--phx {
	color: $color-phx-secondary;
}
.additional__label-color--por {
	color: $color-por-secondary;
}
.additional__label-color--sas {
	color: $color-sas-secondary;
}
.additional__label-color--sac {
	color: $color-sac-secondary;
}
.additional__label-color--tor {
	color: $color-tor-secondary;
}
.additional__label-color--uta {
	color: $color-uta-secondary;
}
.additional__label-color--was {
	color: $color-was-tertiary;
}

/* ------------------------------------------------ ADDITIONAL TEXT TEAM COLOR  */
.additional__text-color--atl {
	color: $color-atl-tertiary;
}
.additional__text-color--bos {
	color: $color-bos-secondary;
}
.additional__text-color--bkn {
	color: $color-bkn-tertiary;
}
.additional__text-color--cha {
	color: $color-cha-tertiary;
}
.additional__text-color--chi {
	color: $color-chi-tertiary;
}
.additional__text-color--cle {
	color: $color-cle-secondary;
}
.additional__text-color--dal {
	color: $color-dal-tertiary;
}
.additional__text-color--den {
	color: $color-den-tertiary;
}
.additional__text-color--det {
	color: $color-det-tertiary;
}
.additional__text-color--gsw {
	color: $color-gsw-tertiary;
}
.additional__text-color--hou {
	color: $color-hou-secondary;
}
.additional__text-color--ind {
	color: $color-ind-secondary;
}
.additional__text-color--lac {
	color: $color-lac-secondary;
}
.additional__text-color--lal {
	color: $color-lal-tertiary;
}
.additional__text-color--mem {
	color: $color-mem-tertiary;
}
.additional__text-color--mia {
	color: $color-mia-tertiary;
}
.additional__text-color--mil {
	color: $color-mil-secondary;
}
.additional__text-color--min {
	color: $color-min-tertiary;
}
.additional__text-color--nop {
	color: $color-nop-secondary;
}
.additional__text-color--nyk {
	color: $color-nyk-tertiary;
}
.additional__text-color--okc {
	color: $color-okc-tertiary;
}
.additional__text-color--orl {
	color: $color-orl-secondary;
}
.additional__text-color--phi {
	color: $color-phi-secondary;
}
.additional__text-color--phx {
	color: $color-phx-tertiary;
}
.additional__text-color--por {
	color: $color-por-tertiary;
}
.additional__text-color--sas {
	color: $color-sas-tertiary;
}
.additional__text-color--sac {
	color: $color-sac-tertiary;
}
.additional__text-color--tor {
	color: $color-tor-tertiary;
}
.additional__text-color--uta {
	color: $color-uta-secondary;
}
.additional__text-color--was {
	color: $color-was-primary;
}
