@import "./../abstracts/variables";
@import "./../abstracts/mixins";
/* -------------------------------------------------------- SECTION HEADING */
.section__heading {
	display: inline-block;

	font-size: 2.25rem;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	line-height: 1.3;
	margin: 3rem 0;

	/* @MEDIA QUERIES */
	@include respond(xl) {
		font-size: 4.5rem;
	}

	@include respond(tablet) {
		font-size: 1.6rem;
		margin-bottom: 1rem;
	}

	@include respond(mob-lg) {
		font-size: 1.2rem;
		margin: 1rem 0;
	}

	&:last-of-type {
		margin-top: 1rem;
	}
}

/* -------------------------------------------------------- PLAYERS HEADING */
.players__heading {
	text-align: center;
	padding-top: 4rem;

	/* @MEDIA QUERIES */
	@include respond(mob-lg) {
		padding-top: 2rem;
	}
}
/* ----------------------------------------- PLAYERS SUBHEADING */
.players__subheading {
	font-size: 1.5rem;
	font-style: italic;

	/* @MEDIA QUERIES */
	@include respond(xl) {
		font-size: 3rem;
	}

	@include respond(mob-lg) {
		font-size: 1.2rem;
	}
}
