@import "./../abstracts/variables";
@import "./../abstracts/mixins";
/* ---------------------------------------------- MAIN */
.main {
	background-color: $color-background-primary;
	// DOES=> Creates real state at the top for displaying conference divisions dropdown without it overlapping the main content.
	padding: 10rem 0;
	// -webkit-box-flex: 1;
	// -ms-flex: 1;
	// flex: 1;
	// position: relative;
	border-radius: $border-radius;

	/* @MEDIA QUERIES */
	@include respond(xl) {
		padding: 26rem 0;
	}
}
