@import "./../abstracts/variables";
@import "./../abstracts/mixins";
/* ---------------------------------------------- SECTION INFO */
.section-info {
	position: relative;
	height: 45vw;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	/* @MEDIA QUERIES */
	@include respond(mob-lg) {
		// DOES => Increases height of section to allow more real state for its content.
		height: 70vw;
	}

	& > * {
		padding: 0 8rem;
		padding-bottom: calc(1vw + var(--section-rotate));
		-webkit-box-flex: 0;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;

		/* @MEDIA QUERIES */
		@include respond(mob-lg) {
			padding: 0 1rem;
		}
	}
}
/* ------------------------------- INFO HERO */
.info__hero {
	height: 100%;
	// DOES => Imitates the border radius of the team and player cards, giving each section a border radius in only one corner depending on their position.
	border-radius: 2.5rem 0 0 0;

	&-img {
		-o-object-fit: contain;
		object-fit: contain;
		height: 100%;
		width: 100%;
	}
}
